<ng-form name="form">
	<accordion-group is-open="isOpen">
		<accordion-heading>
			<span style="line-height: 22px">
				<i class="glyphicon"
					 ng-class="{'glyphicon-chevron-down': isOpen, 'glyphicon-chevron-right': !isOpen}">
				</i>
				&nbsp;
				{{vm.Header}}
				<span class="btn-group btn-group-xs pull-right">
					<button type="button"
									class="btn btn-xs btn-info"
									ng-click="vm.OnMoveUp($event)"
									ng-class="{disabled: !vm.CanMoveUp}"
									tooltip="Move Agent Up"
									tooltip-append-to-body="true">
						<i class="glyphicon glyphicon-chevron-up">
						</i>
					</button>
					<button type="button"
									class="btn btn-xs btn-info"
									ng-click="vm.OnMoveDown($event)"
									ng-class="{disabled: !vm.CanMoveDown}"
									tooltip="Move Agent Down"
									tooltip-append-to-body="true">
						<i class="glyphicon glyphicon-chevron-down">
						</i>
					</button>
					<button type="button"
					        class="btn btn-xs btn-danger"
					        ng-click="vm.OnRemove($event)"
					        tooltip="Remove Agent"
					        tooltip-append-to-body="true">
						<i class="glyphicon glyphicon-remove">
						</i>
					</button>
				</span>
			</span>
		</accordion-heading>
		<div class="form-group"
				 ng-class="{'has-error': form.name.$invalid}">
			<label class="col-sm-3 control-label">
				Name
			</label>
			<div class="col-sm-6">
				<div class="input-group">
					<span class="peach-field-info tooltip-info input-group-addon"
								tooltip="Friendly name for your agent"
								tooltip-placement="right"
								tooltip-append-to-body="true">
					</span>
					<input name="name"
								 type="text"
								 ng-model="agent.name"
								 ng-required="true"
								 class="form-control"
								 peach:unique-channel="agent.name" />
				</div>
				<span class="help-block"
							ng-show="form.name.$error.unique">
					A unique name must be provided
				</span>
			</div>
			<span class="help-block">
				<span class="glyphicon glyphicon-star pointer"
				      tooltip="Required"
				      tooltip-placement="right"
				      ng-class="{red: form.name.$error.required}">
				</span>
				Required
			</span>
		</div>
		<div class="form-group"
		     ng-class="{'has-error': form.location.$invalid}">
			<label class="col-sm-3 control-label">
				Location
			</label>
			<div class="col-sm-6">
				<div class="input-group">
					<span class="peach-field-info tooltip-info input-group-addon"
					      tooltip="URL for the agent. Leave blank for a local agent."
					      tooltip-placement="right"
					      tooltip-append-to-body="true">
					</span>
					<input name="location"
					       type="text"
					       placeholder="local://"
					       ng-model="agent.agentUrl"
					       class="form-control"
					       peach:unique-channel="agent.agentUrl"
					       peach:unique-default="local://" 
					       peach:unique-ignore="^local://"/>
				</div>
				<span class="help-block"
				      ng-show="form.location.$error.unique">
					A unique location must be provided
				</span>
			</div>
		</div>

		<div class="alert alert-warning"
				 ng-show="vm.ShowMissingMonitors">
			<strong>Warning!</strong>
			At least one monitor is advised.
		</div>

		<div class="clearfix"
				 style="margin-bottom: 10px">
			<div class="pull-right">
				<ui-select ng-model="selectedMonitor.selected"
									 reset-search-input="true"
									 theme="select2"
									 class="peach-add-monitor"
									 on-select="vm.OnAddMonitor($item)">
					<ui-select-match placeholder="Add a monitor...">
					</ui-select-match>
					<ui-select-choices repeat="monitor.monitorClass as monitor in vm.PeachMonitors | filter: $select.search">
						<div ng-bind-html="monitor.monitorClass | highlight: $select.search"></div>
						<small ng-if="monitor.description">{{monitor.description}}</small>
					</ui-select-choices>
				</ui-select>
			</div>
		</div>
		<accordion ng-repeat="monitor in agent.monitors track by $index">
			<peach:monitor monitors="agent.monitors"
										 monitor="monitor"
										 agent-index="agentIndex"
										 monitor-index="$index">
			</peach:monitor>
		</accordion>
	</accordion-group>
</ng-form>
