<ng-form name="form">
	<uib-accordion-group is-open="isOpen">
		<uib-accordion-heading>
			<span>
				<i class="fa"
					 ng-class="{'fa-chevron-down': isOpen, 'fa-chevron-right': !isOpen}">
				</i>
				&nbsp;
				{{vm.Header}}
				<span class="btn-group btn-group-xs pull-right">
					<button class="btn btn-xs btn-info"
									ng-click="vm.OnMoveUp($event)"
									ng-disabled="!vm.CanMoveUp"
									uib-tooltip="Move Route Up"
									tooltip-append-to-body="true">
						<i class="fa fa-chevron-up">
						</i>
					</button>
					<button class="btn btn-xs btn-info"
									ng-click="vm.OnMoveDown($event)"
									ng-disabled="!vm.CanMoveDown"
									uib-tooltip="Move Route Down"
									tooltip-append-to-body="true">
						<i class="fa fa-chevron-down">
						</i>
					</button>
					<button class="btn btn-xs btn-danger"
									ng-click="vm.OnRemove($event)"
									uib-tooltip="Remove Route">
						<i class="fa fa-remove">
						</i>
					</button>
				</span>
				<span class="pull-right" style="padding-right: 10px">
					<button type="button"
									class="btn btn-xs btn-default"
									ng-class="vm.HelpClass"
									ng-click="vm.OnHelp($event)">
						<i class="fa fa-question-circle"></i>
						{{vm.HelpPrompt}}
					</button>
				</span>
			</span>
		</uib-accordion-heading>
		<div class="form-group"
				 ng-class="{'has-error': form.url.$invalid}">
			<label class="col-sm-3 control-label">
				Pattern
			</label>
			<div class="col-sm-7">
				<input name="url"
							 autocomplete="off"
							 ng-required="true"
							 ng-model="route.url"
							 type="text"
							 class="form-control" />
				<span class="help-block"
							ng-messages="form.url.$error"
							ng-messages-include="html/messages.html">
				</span>
				<p class="text-muted small" ng-show="storage.showHelp">
					Pattern
				</p>
			</div>
		</div>
		<div class="form-group"
				 ng-class="{'has-error': form.mutate.$invalid}">
			<label class="col-sm-3 control-label">
				Mutate
			</label>
			<div class="col-sm-7">
				<ui-select name="mutate"
									 ng-model="route.mutateChoice"
									 style="position: relative">
					<ui-select-match>{{$select.selected}}</ui-select-match>
					<ui-select-choices repeat="item in vm.MutateChoices">
						<div ng-bind-html="item"></div>
					</ui-select-choices>
				</ui-select>
				<span class="help-block"
							ng-messages="form.mutate.$error"
							ng-messages-include="html/messages.html">
				</span>
				<p class="text-muted small" ng-show="storage.showHelp">
					Mutate
				</p>
			</div>
		</div>
		<div class="form-group"
				 ng-class="{'has-error': form.swagger.$invalid}">
			<label class="col-sm-3 control-label">
				Swagger
			</label>
			<div class="col-sm-7">
				<input name="swagger"
							 autocomplete="off"
							 ng-model="route.swagger"
							 type="text"
							 class="form-control" />
				<span class="help-block"
							ng-messages="form.swagger.$error"
							ng-messages-include="html/messages.html">
				</span>
				<p class="text-muted small" ng-show="storage.showHelp">
					Swagger
				</p>
			</div>
		</div>
		<div class="form-group"
				 ng-class="{'has-error': form.script.$invalid}">
			<label class="col-sm-3 control-label">
				Script
			</label>
			<div class="col-sm-7">
				<input name="script"
							 autocomplete="off"
							 ng-model="route.script"
							 type="text"
							 class="form-control" />
				<span class="help-block"
							ng-messages="form.script.$error"
							ng-messages-include="html/messages.html">
				</span>
				<p class="text-muted small" ng-show="storage.showHelp">
					Script
				</p>
			</div>
		</div>
		<div class="form-group"
				 ng-class="{'has-error': form.baseUrl.$invalid}">
			<label class="col-sm-3 control-label">
				Target Endpoint
			</label>
			<div class="col-sm-7">
				<input name="baseUrl"
							 autocomplete="off"
							 ng-model="route.baseUrl"
							 type="text"
							 class="form-control" />
				<span class="help-block"
							ng-messages="form.baseUrl.$error"
							ng-messages-include="html/messages.html">
				</span>
				<p class="text-muted small" ng-show="storage.showHelp">
					Target Endpoint
				</p>
			</div>
		</div>
		<div class="form-group"
				 ng-class="{'has-error': form.faults.$invalid}">
			<label class="col-sm-3 control-label">
				Fault On Status Codes
			</label>
			<div class="col-sm-7">
				<input name="faults"
							 autocomplete="off"
							 ng-model="route.faultOnStatusCodesText"
							 type="text"
							 class="form-control" />
				<span class="help-block"
							ng-messages="form.faults.$error"
							ng-messages-include="html/messages.html">
				</span>
				<p class="text-muted small" ng-show="storage.showHelp">
					Fault On Status Codes
				</p>
			</div>
		</div>
		<div class="form-group"
				 ng-class="{'has-error': form.headers.$invalid}">
			<label class="col-sm-3 control-label">
				Headers
			</label>
			<div class="col-sm-7">
				<peach:headers route="route"
											 form="form">
				</peach:headers>
				<span class="help-block"
							ng-messages="form.headers.$error"
							ng-messages-include="html/messages.html">
				</span>
			</div>
		</div>
		<div class="clearfix"
				 style="margin-bottom: 10px">
			<div class="pull-right">
				<button class="btn btn-xs btn-info"
								ng-click="vm.OnAddHeader()">
					<i class="fa fa-plus"></i>
					Add Header &nbsp;
				</button>
			</div>
		</div>

	</uib-accordion-group>
</ng-form>
