<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
	<All>
		<String key="Seed" value="*.pptx" name="Seed File" description="The name of the sample file to use when fuzzing." />
		<Strategy key="Strategy" value="Random" name="Mutation Strategy" description="The mutation strategy to use when fuzzing." />
		<String key="LoggerPath" value="./logs/pptx/" name="Logger Path" description="The directory where Peach will save the log produced when fuzzing." />
		<String key="SamplePath" value="./_Common/Samples/Application" name="Sample Path" description="The directory containing the samples to use when fuzzing." />
		<String key="PitLibraryPath" value="." name="Pit Library Path" description="The path to the root of the pit library." />
	</All>

	<Windows>
		<String key="Target" value="C:\\Program Files\\Microsoft Office\\Office15\\powerpnt.exe" name="Target Name" description="The path to the target application that will be fuzzed." />
	</Windows>
</PitDefines>
