<?xml version="1.0" encoding="utf-8"?>
<PitDefines>

	<All>
		<Define key="Seed" value="*.pptx"/>
		<Define key="Strategy"  value="Random"/>
		<Define key="LoggerPath"  value="./logs/pptx/"/>
		<Define key="SamplePath" value="./_Common/Samples/Application"/>
		<Define key="PitLibraryPath" value="."/>
	</All>

	<Windows platform="windows">
		<Define key="Agent" value="WinAgent"/>
		<Define key="Target" value="c:\Program Files\Microsoft Office\Office15\powerpnt.exe" />
	</Windows>

</PitDefines>
