<?xml version="1.0" encoding="utf-8"?>
<PitDefines>

	<All>
		<String key="Seed" name="name" description="" value="*.pptx"/>
		<Strategy key="Strategy" name="name" description=""  value="Random"/>
		<String key="LoggerPath" name="Logger Path" description=""  value="./logs/pptx/"/>
		<String key="SamplePath" name="name" description="" value="./_Common/Samples/Application"/>
		<String key="PitLibraryPath" name="Pit Library Path" description="" value="."/>
	</All>

	<Windows>
		<String key="Agent" name="name" description="" value="WinAgent"/>
		<String key="Target" name="name" description="" value="c:\Program Files\Microsoft Office\Office15\powerpnt.exe" />
	</Windows>

</PitDefines>
