<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
		<Define key="PushPowerButton" value="-i ./raspberry_pi_privkey root@10.0.1.105 ./push_and_hold_for 1"/>
		<Define key="DeviceSerial" value="TA22804TKV"/>
	</All>
	<Linux>
		<Define key="SshCommand" value="ssh"/>
		<Define key="ADBCommand" value="adb"/>
		<Define key="Sleep" value="sleep"/>
	</Linux>
	<Windows>
		<Define key="SshCommand" value="C:\\cygwin\\bin\\ssh.exe"/>
		<Define key="ADBCommand" value="c:\\AndroidTools\\adb.exe"/>
		<Define key="Sleep" value="C:\\cygwin\\bin\\sleep"/>
	</Windows>
</PitDefines>
