<div class="row">
	<div class="col-xs-12">
		<table class="peach-fault-detail">
			<tr>
				<td>Iteration</td>
				<td>{{vm.Fault.iteration}}</td>
			</tr>
			<tr ng-show="vm.Fault.iterationStart !== vm.Fault.iterationStop">
				<td>Iteration Range</td>
				<td>{{vm.Fault.iterationStart}} - {{vm.Fault.iterationStop}}</td>
			</tr>
			<tr>
				<td>Reproducible</td>
				<td>{{vm.Fault.reproducible ? 'Yes' : 'No'}}</td>
			</tr>
			<tr>
				<td>Title</td>
				<td>{{vm.Fault.title}}</td>
			</tr>
			<tr>
				<td>When</td>
				<td>{{vm.Fault.timeStamp | date:'M/d/yy h:mm a'}}</td>
			</tr>
			<tr>
				<td>Source</td>
				<td>{{vm.Fault.source}}</td>
			</tr>
			<tr>
				<td>Risk</td>
				<td>{{vm.Fault.exploitability}}</td>
			</tr>
			<tr>
				<td>Major Hash</td>
				<td>{{vm.Fault.majorHash}}</td>
			</tr>
			<tr>
				<td>Minor Hash</td>
				<td>{{vm.Fault.minorHash}}</td>
			</tr>
			<tr>
				<td class="align-top">Tested Fields</td>
				<td>
					<table class="table table-hover table-bordered">
						<thead>
							<tr>
								<th st-ratio="60" class="align-left">
									Field
								</th>
								<th st-ratio="40" class="align-left">
									Mutator
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="fm in vm.Fault.mutations">
								<td class="align-left">
									{{fm.field || 'Other'}}
								</td>
								<td class="align-left">
									{{fm.mutator}}
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td class="align-top">Description</td>
				<td>
					<pre>{{vm.Fault.description}}</pre>
				</td>
			</tr>
			<tr>
				<td class="align-top">Generated Files</td>
				<td>
					<table class="table table-hover table-bordered">
						<thead>
							<tr>
								<th st-ratio="85">
									Name
								</th>
								<th st-ratio="15"
									class="align-right">
									Size
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<a href="{{vm.Fault.archiveUrl}}">
										Full Archive
									</a>
								</td>
								<td></td>
							</tr>
							<tr ng-repeat="file in vm.Fault.files">
								<td>
									<a href="{{file.fileUrl}}">
										{{file.fullName}}
									</a>
								</td>
								<td class="align-right">
									{{file.size | filesize:2}}
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</table>
	</div>
</div>
