body {
    font-family: 'Segoe UI', sans-serif;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
}

div#main-container {
	position: absolute;
	left: 0;
	top: 50px;
	right: 0;
	bottom: 0;
}

div.main-container-inner {
	height: 100%;
}

.gridStyle {
  border: 1px solid rgb(212,212,212);
	height: 300px;
}

.hidden {
	display: none;
}

.panel-title a {
	cursor: pointer;
}

.skin-1 .nav-list > li.disabled > a > .menu-text,
.skin-1 .nav-list > li.disabled > a > i,
.skin-1 .nav-list > li.disabled > a > .arrow {
	color: #595D60;
	cursor: not-allowed;
}

a.disabled {
	cursor: not-allowed;
}

.absolute-fill {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.nav-tabs > li {
	cursor: pointer
}

div.tabs-left#metricstabs {
	position: relative;
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;
}

.timeline.vis .box.item {
	cursor: pointer;
}