@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url('../../bower_components/ace-bootstrap/fonts/font1.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url('../../bower_components/ace-bootstrap/fonts/font2.woff') format('woff');
}

@font-face {
	font-family: 'FontAwesome2';
	src: url('../../bower_components/ace-bootstrap/fonts/fontawesome-webfont.eot?v=3.2.1');
	src: url('../../bower_components/ace-bootstrap/fonts/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'),
		url('../../bower_components/ace-bootstrap/fonts/fontawesome-webfont.woff?v=3.2.1') format('woff'),
		url('../../bower_components/ace-bootstrap/fonts/fontawesome-webfont.ttf?v=3.2.1') format('truetype'),
		url('../../bower_components/ace-bootstrap/fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: FontAwesome2;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	*margin-right: .3em;
}

body {
	font-family: 'Segoe UI', sans-serif;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

div#main-container {
	position: absolute;
	left: 0;
	top: 50px;
	right: 0;
	bottom: 0;
}

div.main-container-inner {
	height: 100%;
}

.gridStyle {
	border: 1px solid rgb(212,212,212);
	height: 300px;
}

.hidden {
	display: none;
}

.panel-title a {
	cursor: pointer;
}

.skin-1 .nav-list > li.disabled > a > .menu-text,
.skin-1 .nav-list > li.disabled > a > i,
.skin-1 .nav-list > li.disabled > a > .arrow {
	color: #595D60;
	cursor: not-allowed;
}

a.disabled {
	cursor: not-allowed;
}

.absolute-fill {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.nav-tabs > li {
	cursor: pointer;
}

.dropdown-menu > li {
	cursor: pointer;
}

div.tabs-left#metricstabs {
	position: relative;
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;
}

.timeline.vis .box.item {
	cursor: pointer;
}

span.accordion-toggle {
	cursor: pointer;
}

.dropdown-light-blue li span:hover,
.dropdown-light-blue li span:focus,
.dropdown-light-blue li span:active,
.dropdown-light-blue li.active span,
.dropdown-light-blue li.active span:hover,
.dropdown-light-blue .dropdown-submenu:hover > span,
.nav-tabs .dropdown-light-blue li > span:focus,
.dropdown-light-blue li div:hover,
.dropdown-light-blue li div:focus,
.dropdown-light-blue li div:active,
.dropdown-light-blue li.active div,
.dropdown-light-blue li.active div:hover,
.dropdown-light-blue .dropdown-submenu:hover > div,
.nav-tabs .dropdown-light-blue li > div:focus {
	background: #ecf3f9;
	color: #445566;
}
