.RadButton_DejaVu {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  /* RadButton DejaVu Skin */
  /*Simple Split Button Overrides*/
  /* Needed fo IE6 */
  /* IE6 Fix, should be important to override the joint selectors */
  /* Disabled */ }
  .RadButton_DejaVu.rbSkinnedButton,
  .RadButton_DejaVu .rbDecorated,
  .RadButton_DejaVu .rbSecondaryIcon, .RadButton_DejaVu.rbVerticalButton, .RadButton_DejaVu.rbVerticalButton .rbDecorated {
    background-image: none;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 12px; }
  .RadButton_DejaVu.rbSkinnedButton .rbDecorated {
    margin-left: -4px; }
  .RadButton_DejaVu.rbSkinnedButton:active .rbDecorated, .RadButton_DejaVu.rbSkinnedButtonChecked .rbDecorated, .RadButton_DejaVu.rbSkinnedButtonChecked:hover .rbDecorated {
    color: white; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .RadButton_DejaVu.RadButton input.rbDecorated, .RadButton_DejaVu.RadButton input.rbDecorated, .RadButton_DejaVu.RadButton input.rbDecorated:active, .RadButton_DejaVu.RadButton input.rbDecorated:focus {
      background-color: transparent;
      border: 0 none; } }
  .RadButton_DejaVu .rbSplitRight,
  .RadButton_DejaVu .rbSplitLeft {
    background-image: url('Button/ButtonSprites.gif'); }
  .RadButton_DejaVu .rbSplitRight, .RadButton_DejaVu.rbLinkButton .rbSplitRight {
    background-position: -1px 0;
    background-color: #f9f9f9;
    border-left: 1px solid #cdcdcd; }
  .RadButton_DejaVu.rbLinkButton.rbDisabled .rbSplitRight {
    background-position: 1px 0; }
  .RadButton_DejaVu .rbSplitRight {
    _right: -1px; }
  .RadButton_DejaVu.rbDisabled .rbSplitRight {
    _right: 0; }
  .RadButton_DejaVu.rbLinkButton .rbSplitRight {
    background-color: #f9f9f9;
    border-left: 1px solid #cdcdcd; }
  .RadButton_DejaVu .rbSplitRight:hover, .RadButton_DejaVu.rbLinkButton .rbSplitRight:hover {
    background-color: #e8e8e8;
    border-left: 1px solid #767676; }
  .RadButton_DejaVu .rbSplitRight:focus,
  .RadButton_DejaVu .rbSplitRight:active, .RadButton_DejaVu.rbLinkButton .rbSplitRight:focus, .RadButton_DejaVu.rbLinkButton .rbSplitRight:active {
    background-color: #f57e20;
    border-left: 1px solid #f57e20;
    background-position: -20px 0; }
  .RadButton_DejaVu .rbSplitLeft, .RadButton_DejaVu.rbLinkButton .rbSplitLeft {
    background-position: -1px 0;
    border-right: 1px solid #cdcdcd; }
  .RadButton_DejaVu.rbLinkButton .rbSplitLeft {
    background-color: #f9f9f9;
    border-right: 1px solid #cdcdcd; }
  .RadButton_DejaVu .rbSplitLeft:hover, .RadButton_DejaVu.rbLinkButton .rbSplitLeft:hover {
    background-color: #e8e8e8;
    border-right: 1px solid #767676; }
  .RadButton_DejaVu .rbSplitLeft:focus,
  .RadButton_DejaVu .rbSplitLeft:active, .RadButton_DejaVu.rbLinkButton .rbSplitLeft:focus, .RadButton_DejaVu.rbLinkButton .rbSplitLeft:active {
    background-color: #f57e20;
    border-right: 1px solid #f57e20;
    background-position: -20px 0; }
  .RadButton_DejaVu.rbDisabled .rbSplitLeft, .RadButton_DejaVu.rbDisabled .rbSplitLeft:hover, .RadButton_DejaVu.rbDisabled .rbSplitLeft:focus, .RadButton_DejaVu.rbDisabled .rbSplitLeft:active, .RadButton_DejaVu.rbLinkButton.rbDisabled .rbSplitLeft, .RadButton_DejaVu.rbLinkButton.rbDisabled .rbSplitLeft:hover, .RadButton_DejaVu.rbLinkButton.rbDisabled .rbSplitLeft:active, .RadButton_DejaVu.rbLinkButton.rbDisabled .rbSplitLeft:focus, .RadButton_DejaVu.rbDisabled .rbSplitRight, .RadButton_DejaVu.rbDisabled .rbSplitRight:hover, .RadButton_DejaVu.rbDisabled .rbSplitRight:focus, .RadButton_DejaVu.rbDisabled .rbSplitRight:active, .RadButton_DejaVu.rbLinkButton.rbDisabled .rbSplitRight, .RadButton_DejaVu.rbLinkButton.rbDisabled .rbSplitRight:hover, .RadButton_DejaVu.rbLinkButton.rbDisabled .rbSplitRight:active, .RadButton_DejaVu.rbLinkButton.rbDisabled .rbSplitRight:focus {
    background-color: transparent;
    background-position: -1px 0 !important; }
  .RadButton_DejaVu .rbDisabled .rbSplitRight,
  .RadButton_DejaVu .rbDisabled .rbSplitRight:hover,
  .RadButton_DejaVu .rbDisabled .rbSplitRight:focus,
  .RadButton_DejaVu .rbDisabled .rbSplitRight:active,
  .RadButton_DejaVu .rbDisabled .rbSplitLeft,
  .RadButton_DejaVu .rbDisabled .rbSplitLeft:hover,
  .RadButton_DejaVu .rbDisabled .rbSplitLeft:focus,
  .RadButton_DejaVu .rbDisabled .rbSplitLeft:active {
    _background-position: -1px 0 !important; }
  .RadButton_DejaVu.rbDisabled .rbSplitLeft, .RadButton_DejaVu.rbDisabled .rbSplitLeft:hover, .RadButton_DejaVu.rbDisabled .rbSplitLeft:focus, .RadButton_DejaVu.rbDisabled .rbSplitLeft:active, .RadButton_DejaVu.rbLinkButton.rbDisabled .rbSplitLeft, .RadButton_DejaVu.rbLinkButton.rbDisabled .rbSplitLeft:hover, .RadButton_DejaVu.rbLinkButton.rbDisabled .rbSplitLeft:active, .RadButton_DejaVu.rbLinkButton.rbDisabled .rbSplitLeft:focus {
    border-right: 1px solid #cdcdcd; }
  .RadButton_DejaVu.rbDisabled .rbSplitRight, .RadButton_DejaVu.rbLinkButton.rbDisabled .rbSplitRight {
    border-left: 1px solid #cdcdcd; }
  .RadButton_DejaVu .rbSplitLeft:focus,
  .RadButton_DejaVu .rbSplitLeft:active, .RadButton_DejaVu.rbLinkButton .rbSplitLeft:focus, .RadButton_DejaVu.rbLinkButton .rbSplitLeft:active {
    background-color: #f57e20;
    border-right: 1px solid #f57e20; }
  .RadButton_DejaVu.rbVerticalButton {
    padding-left: 0; }
  .RadButton_DejaVu.rbVerticalButton .rbDecorated {
    padding-left: 8px; }
  .RadButton_DejaVu.rbVerticalButton .rbDecorated.rbPrimary {
    padding-left: 40px; }
  .RadButton_DejaVu.rbSkinnedButton, .RadButton_DejaVu.rbVerticalButton,
  .RadButton_DejaVu .rbDecorated {
    background-color: #f9f9f9;
    color: black; }
  .RadButton_DejaVu.rbSkinnedButton, .RadButton_DejaVu.rbVerticalButton {
    border: 1px solid #cdcdcd; }
  .RadButton_DejaVu.rbSkinnedButton, .RadButton_DejaVu.rbVerticalButton {
    _border: 1px solid #cdcdcd !important; }
  .RadButton_DejaVu.rbSkinnedButton:hover, .RadButton_DejaVu.rbVerticalButton:hover, .RadButton_DejaVu:hover .rbDecorated {
    color: black;
    background-color: #cdcdcd; }
  .RadButton_DejaVu.rbSkinnedButton:hover, .RadButton_DejaVu.rbVerticalButton:hover {
    border: 1px solid #767676; }
  .RadButton_DejaVu.rbSkinnedButton:active, .RadButton_DejaVu.rbVerticalButton:active, .RadButton_DejaVu.rbSkinnedButton:active .rbDecorated, .RadButton_DejaVu.rbVerticalButton:active .rbDecorated, .RadButton_DejaVu.rbPressedButton.rbSkinnedButton, .RadButton_DejaVu.rbPressedButton .rbDecorated {
    background-color: #f57e20;
    color: white; }
  .RadButton_DejaVu.rbSkinnedButton:active, .RadButton_DejaVu.rbVerticalButton:active {
    border: 1px solid #f57e20; }
  .RadButton_DejaVu.rbSkinnedButtonChecked, .RadButton_DejaVu.rbSkinnedButtonChecked:hover, .RadButton_DejaVu.rbSkinnedButtonChecked input.rbDecorated, .RadButton_DejaVu.rbSkinnedButtonChecked:hover .rbDecorated {
    background-color: #f57e20;
    border: 1px solid #f57e20; }
  .RadButton_DejaVu .rbToggleCheckbox,
  .RadButton_DejaVu .rbToggleCheckboxChecked,
  .RadButton_DejaVu .rbToggleCheckboxFilled,
  .RadButton_DejaVu .rbToggleRadio,
  .RadButton_DejaVu .rbToggleRadioChecked {
    background-image: url('Common/radFormToggleSprite.png');
    _background-image: url('Common/radFormToggleSpriteIE6.png'); }
  .RadButton_DejaVu.rbToggleButton, .RadButton_DejaVu.rbToggleButton.rbDisabled, .RadButton_DejaVu.rbToggleButton.rbDisabled:hover, .RadButton_DejaVu.rbDisabled .rbDecorated, .RadButton_DejaVu.rbDisabled:hover .rbDecorated, .RadButton_DejaVu.rbToggleButton:hover {
    color: black; }
  .RadButton_DejaVu.RadButton.rbLinkButton {
    background-color: #f9f9f9;
    border: 1px solid #cdcdcd;
    text-decoration: none;
    color: black; }
  .RadButton_DejaVu.RadButton.rbLinkButton:hover {
    background-color: #e8e8e8;
    border: 1px solid #767676;
    color: black; }
  .RadButton_DejaVu.RadButton.rbLinkButton:active, .RadButton_DejaVu.RadButton.rbLinkButtonChecked, .RadButton_DejaVu.RadButton.rbLinkButtonChecked:hover {
    background-color: #f57e20;
    border: 1px solid #f57e20;
    color: white; }
  .RadButton_DejaVu.rbSkinnedButton,
  .RadButton_DejaVu .rbDecorated {
    height: 20px; }
  .RadButton_DejaVu.rbSkinnedButton.rbDisabled, .RadButton_DejaVu.rbVerticalButton.rbDisabled, .RadButton_DejaVu.rbLinkButton.rbDisabled, .RadButton_DejaVu.rbLinkButton.rbDisabled:hover {
    background-color: #f9f9f9;
    color: black;
    border: 1px solid #cdcdcd;
    cursor: default; }
  .RadButton_DejaVu.rbSkinnedButton.rbDisabled .rbDecorated, .RadButton_DejaVu.rbVerticalButton.rbDisabled:hover .rbDecorated, .RadButton_DejaVu.rbLinkButton.rbDisabled, .RadButton_DejaVu.rbLinkButton.rbDisabled:hover {
    background-color: #f9f9f9;
    color: black; }
  .RadButton_DejaVu.rbLinkButton, .RadButton_DejaVu.rbLinkButton:hover {
    _border: 1px solid #cdcdcd !important; }
  .RadButton_DejaVu.rbDisabled, .RadButton_DejaVu.rbDisabled .rbToggleCheckbox, .RadButton_DejaVu.rbDisabled .rbToggleCheckboxChecked, .RadButton_DejaVu.rbDisabled .rbToggleRadio, .RadButton_DejaVu.rbDisabled .rbToggleRadioChecked, .RadButton_DejaVu.rbDisabled .rbToggleCheckboxFilled {
    opacity: .6; }
  .RadButton_DejaVu.rbLinkButton.rbRounded {
    border-radius: 0; }

