.RadDropDownList_DejaVu {
  color: black;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadDropDownList_DejaVu .rddlInner {
    border-color: #cdcdcd;
    color: black;
    background-color: #f9f9f9; }
  .RadDropDownList_DejaVu .rddlEmptyMessage {
    color: #cccccc; }
  .RadDropDownList_DejaVu .rddlIcon,
  .RadDropDownList_DejaVu .rddlActionButton {
    background-image: url('Common/radActionsSprite.png');
    _background-image: url('Common/radActionsSprite.png');
    background-position: -1px -20px; }

.rddlPopup_DejaVu {
  border-color: #cdcdcd;
  color: black;
  background: white;
  font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 16px; }
  .rddlPopup_DejaVu .rddlHeader,
  .rddlPopup_DejaVu rddlFooter {
    color: black;
    background-color: #e8e8e8; }
  .rddlPopup_DejaVu .rddlHeader {
    border-bottom-color: #cdcdcd; }
  .rddlPopup_DejaVu rddlFooter {
    border-top-color: #cdcdcd; }
  .rddlPopup_DejaVu .rddlItemHovered {
    color: black;
    background: #e8e8e8; }
  .rddlPopup_DejaVu .rddlItemSelected {
    color: white;
    background: #25a0da; }
  .rddlPopup_DejaVu .rddlItemDisabled {
    color: #767676;
    background-color: transparent; }
  .rddlPopup_DejaVu .rddlItemLoading {
    color: black;
    background: #e8e8e8; }

