.RadGrid_DejaVu {
  border: 1px solid #e5e5e5;
  background: white;
  color: black;
  font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 16px; }
  .RadGrid_DejaVu .rgMasterTable,
  .RadGrid_DejaVu .rgDetailTable,
  .RadGrid_DejaVu .rgGroupPanel table,
  .RadGrid_DejaVu .rgCommandRow table,
  .RadGrid_DejaVu .rgEditForm table,
  .RadGrid_DejaVu .rgPager table {
    font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
    line-height: 16px; }
  .RadGrid_DejaVu .rgAdd,
  .RadGrid_DejaVu .rgRefresh,
  .RadGrid_DejaVu .rgEdit,
  .RadGrid_DejaVu .rgDel,
  .RadGrid_DejaVu .rgFilter,
  .RadGrid_DejaVu .rgPagePrev,
  .RadGrid_DejaVu .rgPageNext,
  .RadGrid_DejaVu .rgPageFirst,
  .RadGrid_DejaVu .rgPageLast,
  .RadGrid_DejaVu .rgExpand,
  .RadGrid_DejaVu .rgCollapse,
  .RadGrid_DejaVu .rgSortAsc,
  .RadGrid_DejaVu .rgSortDesc,
  .RadGrid_DejaVu .rgUpdate,
  .RadGrid_DejaVu .rgCancel,
  .RadGrid_DejaVu .rgUngroup {
    background-image: url('Grid/sprite.gif'); }

.rgCaption
{
  background-color: #f57e20;
  color: white;
  text-align: left;
  padding: 4px;
  font-size: medium;
}

.GridToolTip_DejaVu {
  font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 16px; }

.RadGrid_DejaVu .rgHeader:first-child,
.RadGrid_DejaVu th.rgResizeCol:first-child,
.RadGrid_DejaVu .rgFilterRow > td:first-child,
.RadGrid_DejaVu .rgRow > td:first-child,
.RadGrid_DejaVu .rgAltRow > td:first-child {
  border-left-width: 0;
  padding-left: 0px; }
.RadGrid_DejaVu .rgHeader,
.RadGrid_DejaVu th.rgResizeCol,
.RadGrid_DejaVu .rgHeaderWrapper {
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5; }
.RadGrid_DejaVu .rgHeaderDiv {
  border-right-color: #cdcdcd; }
.RadGrid_DejaVu .rgMultiHeaderRow th.rgHeader, .RadGrid_DejaVu .rgMultiHeaderRow th.rgResizeCol {
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5; }
.RadGrid_DejaVu th.rgSorted {
  background-color: #e5e5e5; }
.RadGrid_DejaVu .rgHeader {
  color: #767676; }
  .RadGrid_DejaVu .rgHeader a {
    color: #767676; }
.RadGrid_DejaVu th.rgSorted {
  color: #000; }
  .RadGrid_DejaVu th.rgSorted a {
    color: #000; }
.RadGrid_DejaVu .rgRow td,
.RadGrid_DejaVu .rgAltRow td,
.RadGrid_DejaVu .rgEditRow td,
.RadGrid_DejaVu .rgFooter td {
  border-style: solid;
  border-width: 0 0 1px 1px; }
.RadGrid_DejaVu .rgRow td {
  border-color: #fff #e5e5e5; }
.RadGrid_DejaVu .rgAltRow {
  background: #ededed; }
  .RadGrid_DejaVu .rgAltRow td {
    border-color: #e5e5e5; }
.RadGrid_DejaVu .rgSelectedRow .rgSorted,
.RadGrid_DejaVu .rgActiveRow .rgSorted,
.RadGrid_DejaVu .rgHoveredRow .rgSorted,
.RadGrid_DejaVu .rgEditRow .rgSorted {
  background-color: transparent; }
.RadGrid_DejaVu .rgRow a,
.RadGrid_DejaVu .rgAltRow a, .RadGrid_DejaVu tr.rgEditRow a,
.RadGrid_DejaVu .rgFooter a,
.RadGrid_DejaVu .rgEditForm a {
  color: #000; }
.RadGrid_DejaVu .rgHoveredRow {
  background: #e5e5e5; }
.RadGrid_DejaVu .rgMasterTable .rgSelectedCell,

/* original blue */
.RadGrid_DejaVu .rgSelectedRow {
  color: #fff;
  background: #f57e20; }
.RadGrid_DejaVu .rgSelectedCell a,
.RadGrid_DejaVu .rgSelectedRow a {
  color: #fff; }
.RadGrid_DejaVu .rgMasterTable .rgActiveCell,
.RadGrid_DejaVu .rgActiveRow {first-child
  background: white 0 -5200px repeat-x url('Grid/sprite.gif');
  color: #000; }
.RadGrid_DejaVu .rgMasterTable .rgActiveCell {
  border-color: #25a0da;
  border-right-width: 1px; }
.RadGrid_DejaVu .rgActiveCell a {
  color: #000; }
.RadGrid_DejaVu .rgActiveRow input, .RadGrid_DejaVu .rgActiveRow a {
  color: #000; }

* + html .RadGrid_DejaVu .rgSelectedRow .rgSorted {
  background-color: #ffa517; }
* html .RadGrid_DejaVu .rgSelectedRow .rgSorted {
  background-color: #ffa517; }
* html .RadGrid_DejaVu .rgActiveRow .rgSorted,
* html .RadGrid_DejaVu .rgHoveredRow .rgSorted {
  background-color: #ffe79c; }
* + html .RadGrid_DejaVu .rgActiveRow .rgSorted,
* + html .RadGrid_DejaVu .rgHoveredRow .rgSorted {
  background-color: #ffe79c; }

.RadGrid_DejaVu .rgEditRow {
  background: white 0 -4900px repeat-x url('Grid/sprite.gif'); }

* + html .RadGrid_DejaVu .rgEditRow .rgSorted, * html .RadGrid_DejaVu .rgEditRow .rgSorted {
  background-color: #fff; }

.RadGrid_DejaVu .rgHoveredRow td {
  border-color: #c3c3c3; }
  .RadGrid_DejaVu .rgHoveredRow td.rgSorted {
    border-color: #c3c3c3; }
.RadGrid_DejaVu .rgActiveRow td,
.RadGrid_DejaVu .rgSelectedRow td {
  border-color: #25a0da; }
  .RadGrid_DejaVu .rgActiveRow td.rgSorted,
  .RadGrid_DejaVu .rgSelectedRow td.rgSorted {
    border-color: #25a0da; }
.RadGrid_DejaVu .rgEditRow td {
  border-color: #616161 #c3c3c3; }
  .RadGrid_DejaVu .rgEditRow td.rgSorted {
    border-color: #616161 #c3c3c3; }
.RadGrid_DejaVu .rgDrag {
  background-image: url('Grid/rgDrag.gif'); }
.RadGrid_DejaVu .rgFooterDiv,
.RadGrid_DejaVu .rgFooter,
.RadGrid_DejaVu .rgFooterWrapper {
  background: #e4e4e4; }
.RadGrid_DejaVu .rgFooter td,
.RadGrid_DejaVu .rgFooterWrapper {
  border-top: 1px solid;
  border-color: #999 #e4e4e4; }
.RadGrid_DejaVu .rgPager .rgStatus {
  border: 1px solid;
  border-color: #e5e5e5;
  border-left-width: 0; }
.RadGrid_DejaVu .rgStatus div {
  background-image: url('Common/loading_small.gif'); }
.RadGrid_DejaVu td.rgPagerCell {
  border: 1px solid;
  border-color: #e5e5e5;
  border-right-width: 0; }
.RadGrid_DejaVu .rgInfoPart {
  color: #777; }
  .RadGrid_DejaVu .rgInfoPart strong {
    color: #000; }
.RadGrid_DejaVu .rgPageFirst {
  background-position: 0 -550px; }
  .RadGrid_DejaVu .rgPageFirst:hover {
    background-position: 0 -600px; }
.RadGrid_DejaVu .rgPagePrev {
  background-position: 0 -700px; }
  .RadGrid_DejaVu .rgPagePrev:hover {
    background-position: 0 -750px; }
.RadGrid_DejaVu .rgPageNext {
  background-position: 0 -850px; }
  .RadGrid_DejaVu .rgPageNext:hover {
    background-position: 0 -900px; }
.RadGrid_DejaVu .rgPageLast {
  background-position: 0 -1000px; }
  .RadGrid_DejaVu .rgPageLast:hover {
    background-position: 0 -1050px; }
.RadGrid_DejaVu .rgPager .rgPagerButton {
  border-color: #25a0da;
  background: #25a0da;
  color: #fff;
  font: 12px/12px "segoe ui", arial, sans-serif; }
.RadGrid_DejaVu .rgNumPart a {
  border: 1px solid #fff;
  line-height: 20px;
  color: #767676; }
  .RadGrid_DejaVu .rgNumPart a:hover {
    color: #000;
    background-color: #e5e5e5; }
  .RadGrid_DejaVu .rgNumPart a.rgCurrentPage {
    border-color: #25a0da;
    background: transparent; }
    .RadGrid_DejaVu .rgNumPart a.rgCurrentPage:hover {
      border-color: #25a0da;
      background: transparent; }
.RadGrid_DejaVu .rgHeader .rgSortAsc {
  background-position: 3px -248px;
  height: 10px; }
.RadGrid_DejaVu .rgHeader .rgSortDesc {
  background-position: 3px -198px;
  height: 10px; }

.GridReorderTop_DejaVu {
  background: 0 0 no-repeat url('Grid/sprite.gif'); }

.GridReorderBottom_DejaVu {
  background: 0 0 no-repeat url('Grid/sprite.gif');
  background-position: 0 -50px; }

.RadGrid_DejaVu .rgFilterRow td {
  border-bottom: 1px solid #e5e5e5; }
.RadGrid_DejaVu .rgFilter {
  background-position: 0 -300px; }
  .RadGrid_DejaVu .rgFilter:hover {
    background-position: 0 -350px; }
.RadGrid_DejaVu .rgFilterActive {
  background-position: 0 -400px; }
  .RadGrid_DejaVu .rgFilterActive:hover {
    background-position: 0 -400px; }
.RadGrid_DejaVu .rgFilterBox {
  border-color: #e5e5e5;
  font: 12px "segoe ui",arial,sans-serif;
  color: #000;
  height: 15px; }

.RadMenu_DejaVu .rgHCMClear,
.RadMenu_DejaVu .rgHCMFilter {
  border-color: #7e7e7e;
  background: #25a0da;
  color: #000;
  font-family: "segoe ui",arial,sans-serif;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }
.RadMenu_DejaVu .rgHCMClear:hover,
.RadMenu_DejaVu .rgHCMFilter:hover {
  border-color: #c98400;
  background-color: #ffe79c;
  color: #882501; }

.GridContextMenu_DejaVu .rmLeftImage {
  background-image: url('../Common/DejaVu/contextMenu.gif'); }
.GridContextMenu_DejaVu .rgHCMSortAsc .rmLeftImage {
  background-position: 0 0; }
.GridContextMenu_DejaVu .rgHCMSortDesc .rmLeftImage {
  background-position: 0 -40px; }
.GridContextMenu_DejaVu .rgHCMUnsort .rmLeftImage {
  background-position: 0 -80px; }
.GridContextMenu_DejaVu .rgHCMGroup .rmLeftImage {
  background-position: 0 -120px; }
.GridContextMenu_DejaVu .rgHCMUngroup .rmLeftImage {
  background-position: 0 -160px; }
.GridContextMenu_DejaVu .rgHCMCols .rmLeftImage {
  background-position: 0 -200px; }
.GridContextMenu_DejaVu .rgHCMFilter .rmLeftImage {
  background-position: 0 -240px; }
.GridContextMenu_DejaVu .rgHCMUnfilter .rmLeftImage {
  background-position: 0 -280px; }

.RadGrid_DejaVu .rgGroupPanel {
  border: 0;
  border-bottom: 1px solid #7c7c7c; }
  .RadGrid_DejaVu .rgGroupPanel,
  .RadGrid_DejaVu .rgGroupPanel caption {
    background: #25a0da;
    color: white; }
  .RadGrid_DejaVu .rgGroupPanel td {
    border: 0;
    padding: 3px 4px; }
    .RadGrid_DejaVu .rgGroupPanel td td {
      padding: 0; }
  .RadGrid_DejaVu .rgGroupPanel .rgSortAsc {
    background-position: 4px -144px; }
  .RadGrid_DejaVu .rgGroupPanel .rgSortDesc {
    background-position: 4px -94px; }
.RadGrid_DejaVu .rgUngroup {
  background-position: 0 -6999px; }
.RadGrid_DejaVu .rgGroupItem {
  border: 1px solid #7e7e7e;
  background: #fff;
  color: #000; }
.RadGrid_DejaVu .rgMasterTable td.rgGroupCol, .RadGrid_DejaVu .rgMasterTable td.rgExpandCol {
  border-color: #c9c9c9;
  background: #c9c9c9 none; }
.RadGrid_DejaVu .rgGroupHeader {
  background: #c9c9c9;
  font-size: 1.1em;
  line-height: 22px;
  color: #000; }
  .RadGrid_DejaVu .rgGroupHeader td {
    padding-left: 8px;
    padding-bottom: 2px; }
.RadGrid_DejaVu .rgExpand {
  background-position: 5px -496px; }
.RadGrid_DejaVu .rgCollapse {
  background-position: 3px -444px; }
.RadGrid_DejaVu .rgEditForm {
  border-bottom: 1px solid #999; }
.RadGrid_DejaVu .rgUpdate {
  background-position: 0 -1800px; }
.RadGrid_DejaVu .rgCancel {
  background-position: 0 -1850px; }
.RadGrid_DejaVu .rgDetailTable {
  border-color: #999; }
.RadGrid_DejaVu .rgCommandRow {
  color: #767676;
  text-decoration: none; }
  .RadGrid_DejaVu .rgCommandRow a {
    color: #767676;
    text-decoration: none; }
.RadGrid_DejaVu .rgCommandCell {
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  padding: 0; }
.RadGrid_DejaVu tfoot .rgCommandCell,
.RadGrid_DejaVu .rgMasterTable > tbody > tr.rgCommandRow .rgCommandCell {
  border-top: 1px solid #e5e5e5;
  border-bottom: 0; }
.RadGrid_DejaVu .rgCommandTable {
  border: 0; }
  .RadGrid_DejaVu .rgCommandTable td {
    border: 0;
    padding: 2px 7px; }
.RadGrid_DejaVu input.rgAdd {
  margin-right: 3px;
  background-position: 0 -1650px; }
.RadGrid_DejaVu input.rgRefresh {
  margin-right: 3px;
  background-position: 0 -1600px; }
.RadGrid_DejaVu .rgEdit {
  margin-right: 3px;
  background-position: 0 -1700px; }
.RadGrid_DejaVu .rgDel {
  margin-right: 3px;
  background-position: 0 -1750px; }
.RadGrid_DejaVu .rgExpXLS,
.RadGrid_DejaVu .rgExpDOC,
.RadGrid_DejaVu .rgExpPDF,
.RadGrid_DejaVu .rgExpCSV {
  background-image: url('../Common/Grid/export.gif'); }
.RadGrid_DejaVu .rgExpXLS {
  background-position: 0 0; }
.RadGrid_DejaVu .rgExpDOC {
  background-position: 0 -50px; }
.RadGrid_DejaVu .rgExpPDF {
  background-position: 0 -100px; }
.RadGrid_DejaVu .rgExpCSV {
  background-position: 0 -150px; }

/*editing*/
/*hierarchy*/
/*command row*/
/*multirow select*/
.rgCellSelectorArea_DejaVu,
.GridRowSelector_DejaVu {
  background: #4c4e54; }

.GridItemDropIndicator_DejaVu {
  border-top: 1px dashed #666; }

.GridToolTip_DejaVu {
  border: 1px solid #c98400;
  padding: 3px;
  background: #ffefbd;
  color: #333; }

.RadGridRTL_DejaVu .rgHeader:first-child, .RadGridRTL_DejaVu th.rgResizeCol:first-child,
.RadGridRTL_DejaVu .rgFilterRow > td:first-child,
.RadGridRTL_DejaVu .rgRow > td:first-child,
.RadGridRTL_DejaVu .rgAltRow > td:first-child {
  border-left-width: 1px;
  padding-left: 0px; }
.RadGridRTL_DejaVu .rgPageFirst {
  background-position: 0 -1000px; }
  .RadGridRTL_DejaVu .rgPageFirst:hover {
    background-position: 0 -1050px; }
.RadGridRTL_DejaVu .rgPagePrev {
  background-position: 0 -850px; }
  .RadGridRTL_DejaVu .rgPagePrev:hover {
    background-position: 0 -900px; }
.RadGridRTL_DejaVu .rgPageNext {
  background-position: 0 -700px; }
  .RadGridRTL_DejaVu .rgPageNext:hover {
    background-position: 0 -750px; }
.RadGridRTL_DejaVu .rgPageLast {
  background-position: 0 -550px; }
  .RadGridRTL_DejaVu .rgPageLast:hover {
    background-position: 0 -600px; }
.RadGridRTL_DejaVu .rgExpand {
  background-position: -20px -496px; }

