/* original blue: #25a0da*/
.RadMenu_DejaVu {
  color: white;
  font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 22px;
  text-transform: uppercase; }
  .RadMenu_DejaVu div.rmRootGroup,
  .RadMenu_DejaVu ul.rmRootGroup {
    padding: 1px;
    background-color: #f57e20; }
  .RadMenu_DejaVu .rmGroup {
    padding: 1px;
    border: 1px solid #cdcdcd;
    background-color: white; }
  .RadMenu_DejaVu .rmRootGroup .rmGroup {
    padding: 1px; }
  .RadMenu_DejaVu .rmLink {
    margin: 0;
    text-decoration: none; }
  .RadMenu_DejaVu .rmRootLink {
    padding: 0 10px;
    border: 1px solid transparent;
    color: #ffffff;
    font-size: 14px;
    text-transform: lowercase; }
  .RadMenu_DejaVu .rmRootLink:hover {
    border-color: #92cfec; }
  .RadMenu_DejaVu .rmFocused,
  .RadMenu_DejaVu .rmFocused:hover,
  .RadMenu_DejaVu .rmSelected,
  .RadMenu_DejaVu .rmSelected:hover {
    border-color: #ffffff; }
  .RadMenu_DejaVu .rmDisabled,
  .RadMenu_DejaVu .rmDisabled:hover {
    border-color: #f57e20;
    color: #8aceec; }
  .RadMenu_DejaVu .rmGroup .rmLink {
    border: 0;
    color: black; }
    .RadMenu_DejaVu .rmGroup .rmLink:hover {
      border-color: #767676;
      color: black;
      background-color: #e8e8e8; }
  .RadMenu_DejaVu .rmGroup .rmFocused, .RadMenu_DejaVu .rmGroup .rmFocused:hover,
  .RadMenu_DejaVu .rmGroup .rmSelected,
  .RadMenu_DejaVu .rmGroup .rmSelected:hover,
  .RadMenu_DejaVu .rmGroup .rmExpanded,
  .RadMenu_DejaVu .rmGroup .rmExpanded:hover {
    border-color: #f57e20;
    color: white;
    background-color: #f57e20; }
  .RadMenu_DejaVu .rmGroup .rmDisabled, .RadMenu_DejaVu .rmGroup .rmDisabled:hover {
    color: #767676;
    background-color: transparent; }
  .RadMenu_DejaVu .rmText {
    margin: 0;
    padding: 0; }
  .RadMenu_DejaVu .rmRootLink .rmText {
    cursor: pointer;
    color: white;
    padding: 0; }
  .RadMenu_DejaVu .rmLeftImage {
    padding-bottom: 2px; }
  .RadMenu_DejaVu .rmGroup .rmLeftImage {
    margin: 2px 0 0 6px;
    *margin: 2px 0 0 3px; }
  .RadMenu_DejaVu .rmExpandTop,
  .RadMenu_DejaVu .rmExpandDown,
  .RadMenu_DejaVu .rmExpandRight,
  .RadMenu_DejaVu .rmExpandLeft {
    background-image: url('Menu/rmExpandArrows.png');
    background-repeat: no-repeat; }
  .RadMenu_DejaVu .rmRootLink .rmExpandRight,
  .RadMenu_DejaVu .rmRootLink .rmExpandLeft {
    margin-right: -10px;
    padding-right: 24px; }
  .RadMenu_DejaVu .rmRootLink .rmExpandTop,
  .RadMenu_DejaVu .rmRootLink .rmExpandDown {
    background: none; }
  .RadMenu_DejaVu .rmRootLink .rmExpandTop {
    background-position: right -192px; }
  .RadMenu_DejaVu .rmRootLink .rmExpandDown {
    background-position: right -216px; }
  .RadMenu_DejaVu .rmRootLink .rmExpandRight {
    background-position: right -264px; }
  .RadMenu_DejaVu .rmRootLink .rmExpandLeft {
    background-position: right -240px; }
  .RadMenu_DejaVu .rmGroup .rmExpandRight {
    background-position: right -72px; }
  .RadMenu_DejaVu .rmGroup .rmFocused .rmExpandRight,
  .RadMenu_DejaVu .rmGroup .rmSelected .rmExpandRight,
  .RadMenu_DejaVu .rmGroup .rmExpanded .rmExpandRight {
    background-position: right -264px; }
  .RadMenu_DejaVu .rmGroup .rmExpandLeft {
    background-position: right -48px; }
  .RadMenu_DejaVu .rmGroup .rmFocused .rmExpandLeft,
  .RadMenu_DejaVu .rmGroup .rmSelected .rmExpandLeft,
  .RadMenu_DejaVu .rmGroup .rmExpanded .rmExpandLeft {
    background-position: right -240px; }
  .RadMenu_DejaVu .rmTopArrow,
  .RadMenu_DejaVu .rmBottomArrow,
  .RadMenu_DejaVu .rmLeftArrow,
  .RadMenu_DejaVu .rmRightArrow {
    background-image: url('Menu/rmExpandArrows.png');
    background-repeat: no-repeat; }
  .RadMenu_DejaVu .rmRootGroup .rmTopArrow,
  .RadMenu_DejaVu .rmRootGroup .rmBottomArrow,
  .RadMenu_DejaVu .rmRootGroup .rmLeftArrow,
  .RadMenu_DejaVu .rmRootGroup .rmRightArrow {
    border-color: #f57e20;
    background-color: #92cfec; }
  .RadMenu_DejaVu .rmRootGroup .rmLeftArrow,
  .RadMenu_DejaVu .rmRootGroup .rmRightArrow {
    height: 26px; }
  .RadMenu_DejaVu .rmGroup .rmTopArrow,
  .RadMenu_DejaVu .rmGroup .rmBottomArrow,
  .RadMenu_DejaVu .rmGroup .rmLeftArrow,
  .RadMenu_DejaVu .rmGroup .rmRightArrow {
    border-color: #cdcdcd;
    color: black;
    background-color: #f9f9f9; }
    .RadMenu_DejaVu .rmGroup .rmTopArrow:hover,
    .RadMenu_DejaVu .rmGroup .rmBottomArrow:hover,
    .RadMenu_DejaVu .rmGroup .rmLeftArrow:hover,
    .RadMenu_DejaVu .rmGroup .rmRightArrow:hover {
      border-color: #767676;
      color: black;
      background-color: #e8e8e8; }
  .RadMenu_DejaVu .rmGroup .rmLeftArrow,
  .RadMenu_DejaVu .rmGroup .rmRightArrow {
    height: 24px; }
  .RadMenu_DejaVu .rmTopArrow {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-position: 50% -7px; }
  .RadMenu_DejaVu .rmBottomArrow {
    border-top-style: solid;
    border-top-width: 1px;
    background-position: 50% -31px; }
  .RadMenu_DejaVu .rmLeftArrow {
    border-right-style: solid;
    border-right-width: 1px;
    background-position: 50% -48px; }
  .RadMenu_DejaVu .rmRightArrow {
    border-left-style: solid;
    border-left-width: 1px;
    background-position: 50% -72px; }
  .RadMenu_DejaVu .rmSeparator {
    padding: 1px; }
    .RadMenu_DejaVu .rmSeparator .rmText {
      background-color: #cdcdcd; }
  .RadMenu_DejaVu .rmVertical .rmSeparator .rmText,
  .RadMenu_DejaVu .rmHorizontal .rmVertical .rmSeparator .rmText {
    margin-top: 2px;
    padding-bottom: 1px; }
  .RadMenu_DejaVu .rmHorizontal .rmSeparator .rmText,
  .RadMenu_DejaVu .rmVertical .rmHorizontal .rmSeparator .rmText {
    margin-right: 1px;
    margin-left: 1px;
    padding: 0;
    width: 1px; }

.RadMenu_DejaVu_rtl .rmVertical .rmText {
  padding-right: 0;
  padding-left: 30px; }
.RadMenu_DejaVu_rtl .rmRootLink .rmExpandRight,
.RadMenu_DejaVu_rtl .rmRootLink .rmExpandLeft {
  margin-right: 0;
  margin-left: -10px;
  padding-right: 0;
  padding-left: 24px; }
.RadMenu_DejaVu_rtl .rmRootLink .rmExpandTop,
.RadMenu_DejaVu_rtl .rmRootLink .rmExpandDown {
  background: none; }
.RadMenu_DejaVu_rtl .rmRootLink .rmExpandTop {
  background-position: left -192px; }
.RadMenu_DejaVu_rtl .rmRootLink .rmExpandDown {
  background-position: left -216px; }
.RadMenu_DejaVu_rtl .rmRootLink .rmExpandRight {
  background-position: left -264px; }
.RadMenu_DejaVu_rtl .rmRootLink .rmExpandLeft {
  background-position: left -240px; }

.RadMenu_DejaVu .rmTopFix,
.RadMenu_DejaVu .rmTopLeft,
.RadMenu_DejaVu .rmTopRight,
.RadMenu_DejaVu .rmBottomFix,
.RadMenu_DejaVu .rmBottomLeft,
.RadMenu_DejaVu .rmBottomRight {
  display: none; }

/* Stuff added by Matt */
