.RadUploadProgressArea_DejaVu {
  color: black;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadUploadProgressArea_DejaVu .ruProgressHeader {
    border-color: #cdcdcd;
    color: black;
    background-color: #e8e8e8; }
  .RadUploadProgressArea_DejaVu .ruActions {
    border-color: #cdcdcd;
    color: black;
    background-color: #e8e8e8; }
  .RadUploadProgressArea_DejaVu .ruButton {
    border-color: #cdcdcd;
    color: black;
    background-color: #f9f9f9;
    border-radius: 3px;
    font-size: 12px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadUploadProgressArea_DejaVu .ruButtonHover {
    border-color: #767676;
    color: black;
    background-color: #e8e8e8; }
  .RadUploadProgressArea_DejaVu .ruProgress {
    border-color: #e5e5e5;
    color: #767676;
    background-color: #ffffff; }
  .RadUploadProgressArea_DejaVu .ruCurrentFile {
    color: #767676; }
  .RadUploadProgressArea_DejaVu .ruBar {
    border-color: #25a0da; }
    .RadUploadProgressArea_DejaVu .ruBar div {
      border-color: #25a0da;
      background-image: url('Upload/ruProgress.gif'); }
