/* <RadToolBar / Default> */
.RadToolBar_DejaVu .rtbOuter {
  padding: 1px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5; }

/* <buttons> */
.RadToolBar_DejaVu .rtbWrap,
.RadToolBar_DejaVu .rtbTemplate {
  font: normal 12px/20px "Segoe UI", Arial, sans-serif;
  color: #767676; }

.RadToolBar_DejaVu .rtbItem .rtbWrap {
  padding: 3px; }

.RadToolBar_DejaVu .rtbItem .rtbMid,
.RadToolBar_DejaVu .rtbItem .rtbIn {
  padding: 0; }

/* <button states> */
.RadToolBar_DejaVu .rtbSplBtnFocused .rtbWrap,
.RadToolBar_DejaVu .rtbItemFocused .rtbWrap,
.RadToolBar_DejaVu .rtbItemHovered .rtbWrap {
  padding: 2px;
  border: 1px solid #249fd9;
  color: #ffffff;
  background-color: #249fd9; }

.RadToolBar_DejaVu .rtbItemClicked .rtbWrap,
.RadToolBar_DejaVu .rtbSplBtnExpanded .rtbWrap,
.RadToolBar_DejaVu .rtbDropDownExpanded .rtbWrap,
.RadToolBar_DejaVu .rtbChecked .rtbWrap,
.RadToolBar_DejaVu li.rtbChecked .rtbWrap:hover {
  padding: 2px;
  border: 1px solid #249fd9;
  color: #ffffff;
  background-color: #249fd9; }

/* </button states> */
/* <Drop Down Arrows> */
.RadToolBar_DejaVu .rtbSplBtn .rtbChoiceArrow,
.RadToolBar_DejaVu .rtbItem .rtbVOriented .rtbChoiceArrow,
.RadToolBar_DejaVu .rtbChoiceArrow {
  background-image: url('ToolBar/rtbDropArrows.png'); }

.RadToolBar_DejaVu .rtbSplBtn .rtbExpandUp .rtbChoiceArrow,
.RadToolBar_DejaVu .rtbExpandUp .rtbChoiceArrow {
  background-image: url('ToolBar/rtbUpArrows.png'); }

.RadToolBar_DejaVu .rtbSplBtnClicked .rtbVOriented .rtbChoiceArrow,
.RadToolBar_DejaVu .rtbSplBtnClicked .rtbChoiceArrow,
.RadToolBar_DejaVu .rtbItemClicked .rtbVOriented .rtbChoiceArrow,
.RadToolBar_DejaVu .rtbItemClicked .rtbChoiceArrow {
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url('ToolBar/rtbClickedDropArrows.png'); }

.RadToolBar_DejaVu .rtbSplBtnClicked .rtbExpandUp .rtbChoiceArrow,
.RadToolBar_DejaVu .rtbItemClicked .rtbExpandUp .rtbChoiceArrow {
  background-image: url('ToolBar/rtbClickedUpArrows.png'); }

/* </Drop Down Arrows> */
.RadToolBar_DejaVu_Horizontal li.rtbSeparator {
  border: 0;
  margin-left: 1px;
  background: #e5e5e5; }

.RadToolBar_DejaVu_Vertical li.rtbSeparator {
  border: 0;
  margin-top: 1px;
  background: #e5e5e5; }

/* </buttons> */
/* <disabled states> */
.RadToolBar_DejaVu .rtbDisabled .rtbWrap:hover,
.RadToolBar_DejaVu .rtbDisabled .rtbWrap:hover .rtbOut,
.RadToolBar_DejaVu .rtbDisabled .rtbWrap:hover .rtbMid,
.RadToolBar_DejaVu .rtbDisabled .rtbWrap:hover .rtbIn {
  background: none; }

.RadToolBar_DejaVu .rtbDisabled .rtbWrap {
  color: #e5e5e5\9; }

/* </disabled states */
/* <drop-down> */
div.RadToolBarDropDown_DejaVu {
  margin-top: 4px;
  border-color: #e5e5e5;
  background-color: #ffffff; }

.RadToolBarDropDown_DejaVu .rtbWrap,
.RadToolBarDropDown_DejaVu .rtbTemplate {
  color: #767676;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase; }

.RadToolBarDropDown_DejaVu .rtbGroup .rtbItem {
  padding-left: 1px; }

.RadToolBarDropDown_DejaVu .rtbGroup .rtbItem .rtbWrap {
  padding: 1px 3px 1px 35px;
  margin-right: 1px;
  border: 0; }

.RadToolBarDropDown_DejaVu_rtl .rtbGroup .rtbItem .rtbWrap {
  padding: 1px 35px 1px 3px; }

.RadToolBarDropDown_DejaVu .rtbGroup .rtbItemHovered .rtbWrap,
.RadToolBarDropDown_DejaVu .rtbGroup .rtbItemFocused .rtbWrap {
  color: #000000;
  background-color: #e5e5e5; }

.RadToolBarDropDown_DejaVu_rtl .rtbGroup .rtbItemHovered .rtbWrap,
.RadToolBarDropDown_DejaVu_rtl .rtbGroup .rtbItemFocused .rtbWrap {
  padding: 0 34px 0 2px; }

.RadToolBarDropDown_DejaVu .rtbGroup .rtbItemHovered .rtbIcon,
.RadToolBarDropDown_DejaVu .rtbGroup .rtbItemFocused .rtbIcon {
  left: 4px;
  top: 1px; }

.RadToolBarDropDown_DejaVu_rtl .rtbGroup .rtbItemHovered .rtbIcon,
.RadToolBarDropDown_DejaVu_rtl .rtbGroup .rtbItemFocused .rtbIcon {
  left: auto;
  right: 4px; }

.RadToolBarDropDown_DejaVu .rtbDisabled .rtbWrap {
  color: #e5e5e5; }

.RadToolBarDropDown_DejaVu .rtbSeparator {
  border-color: #e5e5e5;
  background-color: #e5e5e5; }

/* </drop-down> */
/* </RadToolBar / Default> */

