/* Window/WindowHorizontalSprites.gif */
.RadWindow_DejaVu {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: 1px solid #e5e5e5;
  /* end shadows */
  /* When ShowContentDuringLoad="false" */ }
  .RadWindow_DejaVu .rwTopLeft,
  .RadWindow_DejaVu .rwTopRight,
  .RadWindow_DejaVu .rwTitlebar,
  .RadWindow_DejaVu .rwTopResize {
    background: #f57e20; }
  .RadWindow_DejaVu .rwFooterLeft,
  .RadWindow_DejaVu .rwFooterRight,
  .RadWindow_DejaVu .rwFooterCenter,
  .RadWindow_DejaVu .rwStatusbar div,
  .RadWindow_DejaVu .rwStatusbar,
  .RadWindow_DejaVu .rwBodyLeft,
  .RadWindow_DejaVu .rwBodyRight,
  .RadWindow_DejaVu .rwStatusbarRow .rwCorner {
    background: white; }
  .RadWindow_DejaVu table.rwShadow .rwTopLeft,
  .RadWindow_DejaVu table.rwShadow .rwTopRight, .RadWindow_DejaVu.rwMinimizedWindow table.rwShadow .rwCorner.rwTopLeft, .RadWindow_DejaVu.rwMinimizedWindow table.rwShadow .rwCorner.rwTopRight,
  .RadWindow_DejaVu table.rwShadow .rwBodyLeft,
  .RadWindow_DejaVu table.rwShadow .rwBodyRight,
  .RadWindow_DejaVu table.rwShadow .rwFooterLeft,
  .RadWindow_DejaVu table.rwShadow .rwFooterRight {
    width: 7px !important; }
  .RadWindow_DejaVu .rwStatusbarRow .rwBodyLeft,
  .RadWindow_DejaVu .rwStatusbarRow .rwStatusbar,
  .RadWindow_DejaVu .rwStatusbarRow .rwBodyRight {
    border-top: 1px solid #e5e5e5; }
  .RadWindow_DejaVu .rwShadow td.rwFooterLeft,
  .RadWindow_DejaVu .rwShadow td.rwFooterRight,
  .RadWindow_DejaVu .rwShadow td.rwFooterCenter {
    height: 7px; }
  .RadWindow_DejaVu iframe {
    display: block; }
  .RadWindow_DejaVu a.rwIcon {
    background: url('Window/Icon.gif') no-repeat center; }
  .RadWindow_DejaVu ul.rwControlButtons {
    margin: 0; }
  .RadWindow_DejaVu .rwControlButtons a {
    background-color: #f57e20;
    background-image: url('Window/CommandButtonSprites.gif');
    width: 29px;
    height: 19px;
    border: 1px solid #f57e20; }
  .RadWindow_DejaVu table.rwTitlebarControls em {
    color: white;
    font-size: 14px;
    font-weight: normal;
    padding: 1px 0 0 1px;
    text-transform: uppercase; }
  .RadWindow_DejaVu td.rwStatusbar div {
    background-image: url('Window/rwResize.gif');
    background-position: 10px 8px;
    background-repeat: no-repeat;
    margin: 0 -4px -7px 0;
    *margin: 0 -1px -4px 0; }
  .RadWindow_DejaVu input.rwDialogInput {
    border: 1px solid #cdcdcd; }
  .RadWindow_DejaVu input.rwDialogInput:hover {
    border: 1px solid #767676; }
  .RadWindow_DejaVu table tr td.rwLoading {
    background-color: white; }
  .RadWindow_DejaVu tr td.rwWindowContent.rwLoading {
    background-image: url('Common/loading.gif'); }
  .RadWindow_DejaVu input.rwLoading {
    background-image: url('Common/loading_small.gif'); }
  .RadWindow_DejaVu .rwDialogPopup a.rwPopupButton {
    background: #f9f9f9;
    border: 1px solid #cdcdcd; }
  .RadWindow_DejaVu .rwDialogPopup a.rwPopupButton:hover {
    background: #e8e8e8;
    border-color: #767676; }
  .RadWindow_DejaVu .rwShadow .rwFooterLeft,
  .RadWindow_DejaVu .rwShadow .rwFooterRight,
  .RadWindow_DejaVu .rwShadow .rwFooterCenter {
    height: 5px; }
  .RadWindow_DejaVu.rwMinimizedWindowShadow .rwFooterRow {
    display: none; }
  .RadWindow_DejaVu.rwMinimizedWindowShadow .rwTable {
    width: 200px; }
  .RadWindow_DejaVu .rwShadow a.rwIcon {
    margin: 5px 5px 0 0; }
  .RadWindow_DejaVu table.rwShadow em {
    padding: 1px 0 0 1px; }
  .RadWindow_DejaVu.rwMinimizedWindow .rwShadow .rwControlButtons {
    margin: 2px 0 0 0; }

div.RadWindow_DejaVu a.rwCancel,
div.RadWindow_DejaVu a.rwCancel span {
  background: none !important;
  cursor: pointer;
  border: 0 !important; }

div.RadWindow_DejaVu a.rwCancel span span,
div.RadWindow_DejaVu a.rwCancel:hover span span {
  color: black;
  text-decoration: underline; }

