<!-- Configure Pit: Introduction for Automation section -->
<div>
	<p>The Automation section allows you to configure actions that Peach will take during fuzzing iterations to automate the test environment.</p>
	
	<p>This can include such things as:</p>
	<ul>
		<li>Control power to a hardware device</li>
		<li>Start or stop processes</li>
		<li>Run commands locally or remotely via SSH</li>
		<li>Click buttons, or simulate plugging and unplugging cables</li>
	</ul> 

	<p>	The Pit Automation section is optional. If you don't have the appropriate hardware or don't want to initiate a process while fuzzing, you may skip this section.</p>

	<p>If you want to automate more than one action, you will need to repeat Pit Automation section process for each action.</p>

	<p>You'll need the following information to complete the Pit Automation section:</p>
	<ul>
		<li>Whether you want to automate the task on a local machine or remote machine</li>
		<li>If the automation is done on a remote machine, the remote machine's hostname/IP name and OS</li>
		<li>Which process do you want to automate (CanaKit Relay board or process running on the selected machine)</li>
		<li>Serial port, and related relay information (CanaKit Relay)</li>
		<li>Executable name and location, arguments and actions to take (process)</li>
	</ul>
</div>
<div class="row-fluid wizard-actions">
	<button class="btn btn-success btn-next" ng-click="vm.next()" ng-disabled="configuratorForm.$invalid">
		Next
		<i class="icon-arrow-right icon-on-right"></i>
	</button>
</div>
