<div>
	<div>
		<h1>Review - Automation</h1>
	</div>

	<div class="gridStyle" ng-grid="vm.autoGridOptions"></div>

	<div class="row-fluid wizard-actions">
		<!--
		<button class="btn btn-prev" ng-click="vm.back()">
			<i class="icon-arrow-left"></i>
			Back
		</button>
		-->
		<button class="btn btn-success btn-next" ng-click="vm.addNewAutoInfo()" ng-disabled="configuratorForm.$invalid">
			<i class="icon-arrow-left"></i>
			Add More Automation
		</button>
		<button class="btn btn-success btn-next" ng-click="vm.submitAutoInfo()" ng-disabled="configuratorForm.$invalid">
			Continue to Test
			<i class="icon-arrow-right icon-on-right"></i>
		</button>
	</div>
</div>