<div>
	<h3>Automation</h3> <!-- Configure Pit: Introduction for Automation section -->
	<div>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</div>
	<div>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</div>
	<div>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</div>
	<div class="row-fluid wizard-actions">
		<!--
		<button class="btn btn-prev" ng-click="vm.back()">
			<i class="icon-arrow-left"></i>
			Back
		</button>
		-->
		<button class="btn btn-success btn-next" ng-click="vm.next()" ng-disabled="configuratorForm.$invalid">
			Next
			<i class="icon-arrow-right icon-on-right"></i>
		</button>
	</div>
</div>
