<div class="page-content">
	<div class="page-header">
		<h3>
			Pit Configurator - Done
		</h3>
	</div>
	<div class="row">
		<div class="col-xs-6">
			Pit configuration is complete. Press the START button below to start a fuzzing job with your pit.
			<div class="space-6"></div>
			<div class="row-fluid wizard-actions">
				<button class="btn btn-primary" ng-click="vm.Start()"
								ng-class="{disabled: vm.CanStart == false}">
					START
				</button>
				<button class="btn btn-success btn-next" ng-click="vm.Done()">
					Return To Dash
					<i class="icon-arrow-right icon-on-right"></i>
				</button>
			</div>
		</div>
	</div>
</div>