<!-- Configure Pit: Top level Introduction -->
<div class="page-content">
	<div class="page-header">
		<h3>
			Pit Configurator
		</h3>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<!-- Text within this div -->
			<p>
				Purpose of the Configurator is for configuring pit files included with Peach Professional to:<br/>
				<ul>
					<li>Select Monitors (Fault Detection, Data Collection, and Automation) to apply to the pit.</li>
					<li>Test the pit with the configuration</li>
					<li>Save the work for later loading</li>
					<li>Do it all in a visual manner as opposed to editing Pit files</li>
				</ul>
				
				<b><span class="red">NOTE:</span> avoid using Peach specific tech language such as "Monitors" and "Agents"</b>
				
				
			</p>
		</div>
	</div>
	<div class="row-fluid wizard-actions">
		<a class="btn btn-success btn-next" href="#/configurator/setvars">
			Begin
			<i class="icon-arrow-right icon-on-right"></i>
		</a>
	</div>
</div>