<!-- Configure Pit: Top level Introduction -->
<div>
	<!-- Text within this div -->
	<p>
		This wizard will let you configure a Peach Pit (fuzzing definition) from the Peach Pit Library. Pit files contain all the information needed to perform fuzzing of a target. After you complete each part of this wizard, the pit will be fully configured and ready to run.
	</p>
	<p>
		This wizard will guide you through:
	</p>
	<ul>
		<li>Configuring the pit variables</li>
		<li>Configuring fault detection</li>
		<li>Configuring data collection</li>
		<li>Configuring target automation</li>
		<li>Testing the pit to verify the configuration is correct</li>
		<li>Save the work for later loading</li>
	</ul>
</div>
<div class="row-fluid wizard-actions">
	<a class="btn btn-success btn-next" href="#/configurator/setvars">
		Begin
		<i class="icon-arrow-right icon-on-right"></i>
	</a>
</div>
