<div>
	<div>
		<h4>Review</h4>
	</div>

	<div ng-switch="vm.DataMonitors.length">
		<div ng-switch-when="0">You have elected to not perform Data Collection. Click Continue to move on to Automation.</div>
		<div class="gridStyle" ng-grid="vm.dataGridOptions" ng-switch-default></div>
	</div>


	<div class="row-fluid wizard-actions">
		<div class="space-6"></div>
		<button class="btn btn-success btn-next" ng-click="vm.addNewDataInfo()" ng-disabled="configuratorForm.$invalid">
			<i class="icon-arrow-left"></i>
			Add More Data Collection
		</button>
		<button class="btn btn-success btn-next" ng-click="vm.submitDataInfo()" ng-disabled="configuratorForm.$invalid">
			Continue to Automation
			<i class="icon-arrow-right icon-on-right"></i>
		</button>
	</div>
</div>


