<!-- Configure Pit: Introduction for Fault detection -->
<div class="page-content">
	<div class="page-header">
		<h3>
			Fault Detection
		</h3>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<!-- Text within this div -->
			<p>
				Fault Detection section of the Pit Configurator is a series of questions and answers
				that helps the user choose the appropriate Peach Monitor for detecting faults from Peach.<br/>
				The user may only go through this process once, resulting in one fault detecting Monitor.<br/>
			</p>
		</div>
	</div>
	<div class="row-fluid wizard-actions">
		<button class="btn btn-success btn-next" ng-click="vm.next()" ng-disabled="configuratorForm.$invalid">
			Next
			<i class="icon-arrow-right icon-on-right"></i>
		</button>
	</div>
</div>
