<div class="page-content">
	<div class="page-header">
		<h1>
			Metrics
		</h1>
	</div><!-- /.page-header -->

	<div class="row">

		<div class="col-xs-12">
			<!-- PAGE CONTENT BEGINS -->

			<div class="row">

				<!-- ///////////////////// -->

				<div class="space-6"></div>

				<div class="widget-box">
					<div class="widget-header">
						<h4 class="smaller">Faults Over Time</h4>
					</div>
					<div class="widget-body">
						<div class="widget-main" style="height: 300px">
							<linechart data="metrics_faultsOverTime_data"
												 options="metrics_faultsOverTime_options"></linechart>
						</div>
					</div>
				</div>

				<!-- ///////////////////// -->

				<div class="space-6"></div>
				<div class="widget-box">
					<div class="widget-header">
						<h4 class="smaller">Mutator Metrics</h4>
					</div>
					<div class="widget-body">
						<div class="widget-main">
							<div class="table-responsive">
								<div id="metrics-mutator-table" class="table table-striped table-bordered table-hover"
										 ng-grid="gridMetricsMutator" style="height: 400px" />
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- ///////////////////// -->

			<div class="space-6"></div>
			<div class="widget-box">
				<div class="widget-header">
					<h4 class="smaller">Element Metrics</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<div class="table-responsive">
							<div id="metrics-element-table" class="table table-striped table-bordered table-hover"
									 ng-grid="gridMetricsElement" style="height: 400px" />
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- ///////////////////// -->

		<div class="space-6"></div>
		<div class="widget-box">
			<div class="widget-header">
				<h4 class="smaller">State Metrics</h4>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<div class="table-responsive">
						<div id="metrics-state-table" class="table table-striped table-bordered table-hover"
								 ng-grid="gridMetricsState" style="height: 400px" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ///////////////////// -->

	<div class="space-6"></div>
	<div class="widget-box">
		<div class="widget-header">
			<h4 class="smaller">Data Set Metrics</h4>
		</div>
		<div class="widget-body">
			<div class="widget-main">
				<div class="table-responsive">
					<div id="metrics-data-table" class="table table-striped table-bordered table-hover"
							 ng-grid="gridMetricsData" style="height: 400px" />
				</div>
			</div>
		</div>
	</div>

	<!-- ///////////////////// -->

	<div class="space-6"></div>
	<div class="widget-box">
		<div class="widget-header">
			<h4 class="smaller">Bucket Metrics</h4>
		</div>
		<div class="widget-body">
			<div class="widget-main">
				<div class="table-responsive">
					<div id="metrics-bucket-table" class="table table-striped table-bordered table-hover"
							 ng-grid="gridMetricsBucket" style="height: 400px" />
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	jQuery(function ($) {
	})
</script>