<div>
	<div class="modal-header">
		<h3 class="modal-title">Select a Pit</h3>
	</div>
	<div class="modal-body">
		<div kendo-tree-view="tree"
			k-on-change="vm.selectedPit = dataItem.pitUrl"
			k-data-source="vm.libraries" style="max-height: 200px; height: 200px">
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="vm.selectPit()">Select</button>
	</div>
</div>

<!--
<div treecontrol class="tree-classic"
	tree-model="vm.libraries"
	options="vm.treeOptions"
	node-label="label"
	node-id="url"
	node-children="children"
	selected-node="vm.selectedPit">
	<span>{{node.label}}</span>
</div>
-->
