<div ng-enter="vm.next()">
	<div class="header blue" ng-class="{hidden: vm.location.path() != '/configurator/setvars'}">{{vm.currentQuestion.shortName || vm.currentQuestion.key}}</div>
	<label>{{vm.currentQuestion.q}}</label>
	<div class="row">
		<div class="col-xs-8">
			<select class="form-control" ng-model="vm.currentQuestion.value" ng-options="default for default in vm.currentQuestion.defaults" style="width:100%" />
		</div>
		<div class="col-xs-4"></div>
	</div>
	<div class="row-fluid wizard-actions">
		<div class="space-6"></div>
		<button class="btn btn-prev" ng-click="vm.back()">
			<i class="icon-arrow-left"></i>
			Back
		</button>
		<button class="btn btn-success btn-next" ng-click="vm.next()" ng-disabled="configuratorForm.$invalid">
			Next
			<i class="icon-arrow-right icon-on-right"></i>
		</button>
	</div>
</div>

