<div>
	<div class="header blue" ng-class="{hidden: vm.location.path() != '/configurator/setvars'}">{{vm.currentQuestion.shortName || vm.currentQuestion.key}}</div>
	<label>{{vm.currentQuestion.q}} (value must be a number between {{vm.currentQuestion.rangeMin}} and {{vm.currentQuestion.rangeMax}})</label>
	<div class="dropdown" is-open="vm.isDefaultsOpen">
		<input ng-model="vm.currentQuestion.value" ng-enter="vm.next()" class="dropdown-toggle" ng-enter="vm.next()"
					 step="1" ng-min="vm.currentQuestion.rangeMin"
					 ng-max="vm.currentQuestion.rangeMax"
					 type="number"
					 ng-required="vm.currentQuestion.required"
					 integer />
		<ul class="dropdown-menu" ng-class="{hidden: vm.location.path() != '/configurator/setvars'}">
			<li ng-repeat="default in vm.currentQuestion.defaults">
				<div ng-click="vm.currentQuestion.value = default" style="width: 100%; cursor: pointer">{{default}}</div>
			</li>
		</ul>
	</div>
	<div class="row-fluid wizard-actions">
		<button class="btn btn-prev" ng-click="vm.back()">
			<i class="icon-arrow-left"></i>
			Back
		</button>
		<button class="btn btn-success btn-next" ng-click="vm.next()" ng-disabled="configuratorForm.$invalid">
			Next
			<i class="icon-arrow-right icon-on-right"></i>
		</button>
	</div>
</div>
