<div>
	<label>
		{{vm.currentQuestion.q}}
		<span ng-switch="vm.currentQuestion.required"><span ng-switch-when="false">(Optional)</span></span>
	</label>
	<div>
		<input name="{{vm.currentQuestion.key}}" ng-model="vm.currentQuestion.value" type="text" ng-required="vm.currentQuestion.required" style="width: 70%" />
	</div>
	<accordion ng-class="{hidden: vm.location.path() == '/configurator/setvars'}">
		<accordion-group>
			<accordion-heading ng-class="">
				Defines <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
			</accordion-heading>
			<div class="gridStyle" ng-grid="vm.definesGridOptions"></div>
		</accordion-group>
	</accordion>
	<div class="row-fluid wizard-actions">
		<button class="btn btn-prev" ng-click="vm.back()">
			<i class="icon-arrow-left"></i>
			Back
		</button>
		<button class="btn btn-success btn-next" ng-click="vm.next()" ng-disabled="configuratorForm.$invalid">
			Next
			<i class="icon-arrow-right icon-on-right"></i>
		</button>
	</div>
</div>
