<!-- Set Variables: Introduction for Data Collection -->
<div>
	<!-- Text within this div -->
	<h3>Set Variables - Introduction</h3>
	<p>
		The Pit Set Variables section allows you to change the variables in the Pit Configuration file.
			<br/>
			The variables you will need to set depend on the pit you are configuring. Because the variable list is pit installation dependent, you will need to set different variables for different pit installs. 
			<br/>
			There are some common pit variables that you will need to set no matter which pit you are configuring:
		<ul>
			<li>
			The path to the pit library where Peach will log any faults
			</li>
			<li>
			Mutation strategy for Peach to use while fuzzing. Peach has a default strategy but if you wish, you can choose from a s predefined list of available strategy options.
			</li>
		</ul>			
			<br/>
		Depending on the the pit to be configured, you may be setting variables with the following information:
		<ul>
			<li>
			IP address
			</li>
			<li>
			MAC address
			</li>
			<li>
			Target process name
			</li>
			<li>
			Additional information about Target
			</li>
		</ul>
				
	</p>
</div>
	<div class="row-fluid wizard-actions">
		<!--
		<button class="btn btn-prev" ng-click="vm.back()">
			<i class="icon-arrow-left"></i>
			Back
		</button>
			-->
		<button class="btn btn-success btn-next" ng-click="vm.next()" ng-disabled="configuratorForm.$invalid">
			Next
			<i class="icon-arrow-right icon-on-right"></i>
		</button>
	</div>
</div>
