<!-- Set Variables: Introduction for Data Collection -->
<div>
	<p>
		The Pit Set Variables wizard guides you through configurable settings required to run the Pit. The settings are specific to the Pit selected and the type of information needed will vary. For some settings, guidance is provided on how to locate the information.
	</p>
	<p>
		For network related Pits, you will typically need to provide network addresses such as the IP address or MAC address of the target.
	</p>
	<p>
		The configuration settings for each Pit are also documented in the Pit Library Documentation PDF. This document is provided in the Pits zip archive.
	</p>
</div>
<div class="row-fluid wizard-actions">
	<button class="btn btn-success btn-next" ng-click="vm.next()" ng-disabled="configuratorForm.$invalid">
		Next
		<i class="icon-arrow-right icon-on-right"></i>
	</button>
</div>
