<div class="page-content">
	<div class="page-header">
		<span style="font-size: 24px">Pit Configurator: {{ vm.title }}</span>
	</div><!-- /.page-header -->

	<div class="row">
		<div class="col-xs-12">
			<form name="configuratorForm">
				<div class="row-fluid" id="fuelux-wizard" data-target="#step-container">
					<ul class="wizard-steps">
						<li ng-class="{active: vm.stepNum == 1, complete: vm.stepNum > 1}">
							<span class="step">1</span>
							<span class="title">Introduction</span>
						</li>
						<li ng-class="{active: vm.stepNum == 2, complete: vm.stepNum > 2}">
							<span class="step">2</span>
							<span class="title">Questions &amp; Answers</span>
						</li>
						<li ng-class="{active: vm.stepNum == 3}">
							<span class="step">3</span>
							<span class="title">Review</span>
						</li>
					</ul>
				</div>
				<hr />
				<div ng-switch="vm.currentQuestion.type">
					<div ng-switch-when="intro"><div ng-include="vm.currentQuestion.qref" /></div>
					<div ng-switch-when="choice"><div ng-include="'../partials/q-choice.html'" /></div>
					<div ng-switch-when="enum"><div ng-include="'../partials/q-enum.html'" /></div>
					<div ng-switch-when="hex"><div ng-include="'../partials/q-hex.html'" /></div>
					<div ng-switch-when="hwaddr"><div ng-include="'../partials/q-hwaddr.html'" /></div>
					<div ng-switch-when="iface"><div ng-include="'../partials/q-iface.html'" /></div>
					<div ng-switch-when="int"><div ng-include="'../partials/q-int.html'" /></div>
					<div ng-switch-when="ipv4"><div ng-include="'../partials/q-ipv4.html'" /></div>
					<div ng-switch-when="ipv6"><div ng-include="'../partials/q-ipv6.html'" /></div>
					<div ng-switch-when="oncall"><div ng-include="'../partials/q-oncall.html'" /></div>
					<div ng-switch-when="range"><div ng-include="'../partials/q-range.html'" /></div>
					<div ng-switch-when="string"><div ng-include="'../partials/q-string.html'" /></div>
					<div ng-switch-when="done"><div ng-include="vm.currentQuestion.qref" /></div>
				</div>
			</form>
		</div>
	</div>
</div>

