framework: net451
source https://www.nuget.org/api/v2

nuget Microsoft.AspNetCore.Diagnostics
nuget Microsoft.AspNetCore.Hosting
nuget Microsoft.AspNetCore.Mvc
nuget Microsoft.AspNetCore.Owin
nuget Microsoft.AspNetCore.Routing
nuget Microsoft.AspNetCore.StaticFiles
nuget Microsoft.Extensions.Configuration.CommandLine
nuget Microsoft.Extensions.Configuration.Json
nuget Microsoft.Extensions.FileProviders.Embedded
nuget Microsoft.Extensions.Logging.Console
nuget Microsoft.Extensions.Logging.Debug
nuget SocketHttpListener
