<div class="page-content">
	<div class="page-header">
		<h1>Test</h1>
	</div>
	<div class="row-fluid wizard-actions">
		<button class="btn btn-warning btn-next" 
		        ng-click="vm.beginTest()" 
		        ng-disabled="configuratorForm.$invalid" 
						ng-class="{disabled: vm.FaultDetectionComplete == false}">
			Begin Test
		</button>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<hr />
			<h3>
				Test Output
				<span ng-switch="vm.testTime.length">
					<span ng-switch-when="0" />
					<span ng-switch-default>({{vm.testTime}})</span>
				</span>
			</h3>
			<tabset>
				<tab ng-repeat="tab in vm.tabs" 
				     heading="{{tab.title}}" 
				     active="tab.active" 
						 disabled="tab.disabled">
					<div ng-include="tab.content"></div>
				</tab>
			</tabset>
		</div>
	</div>
</div>
