<!-- Configure Pit: Top level Introduction -->
<div class="page-content">
	<div class="page-header">
		<h3>
			Pit Configurator
		</h3>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<!-- Text within this div -->
			<p>
				This wizard will let you configure a Peach Pit (fuzzing definition) from the Peach Pit Library. Pit files contain all the information needed to perform fuzzing of a target. After you complete each part of this wizard, the pit will be fully configured and ready to run.
			</p>
			<p>
				This wizard will guide you through:
			</p>
			<ul>
				<li>Configuring the pit variables</li>
				<li>Configuring fault detection</li>
				<li>Configuring data collection</li>
				<li>Configuring target automation</li>
				<li>Testing the pit to verify the configuration is correct</li>
				<li>Save the work for later loading</li>
			</ul>
		</div>
		<div class="row-fluid wizard-actions">
			<button class="btn btn-success btn-next" ng-click="vm.completeIntro()">
				Begin
				<i class="icon-arrow-right icon-on-right"></i>
			</button>
		</div>

	</div>
</div>