<div>
	<div class="modal-header">
		<h3 class="modal-title">Copy Pit</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-12">
				<table style="width: 90%">
					<tr>
						<td colspan="2">
							You've chosen a locked Pit. A working copy will be placed in the User Library.<br />
							Please fill in the following details to name and describe the copy.
						</td>
					</tr>
					<tr>
						<td style="text-align:right; width: 0"><label>Name:</label></td>
						<td><input id="name" ng-model="vm.pit.name" style="width: 100%" /></td>
					</tr>
					<tr>
						<td style="text-align:right; width: 0"><label>Description:</label></td>
						<td><input ng-model="vm.pit.description" style="width: 100%"/></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<span class="label label-danger" ng-class="{hidden: vm.error.length == 0}" style="margin-right: 20px">{{vm.error}}</span>
		<button class="btn btn-primary" ng-click="vm.submit()">Submit</button>
	</div>
</div>
<script src="../Scripts/jquery-2.1.1.js"></script>
<script>
	//var invalid = [32];
	//$("#name").keypress(function (e) {
	//	if (invalid.indexOf(e.which) >= 0) {
	//		return false;
	//	}
	//});
</script>