<!-- Configure Pit: Introduction for Fault detection -->
<div>
	<p>
		Peach monitors your target while fuzzing to detect faults (checking for irregular behavior such as a program crashing or remote device availability).
	</p>
	<p>
		This portion of the wizard will set up the Pit to perform fault detection of the target you are fuzzing.
	</p>
	<p>
		You'll need the following information to complete the Pit Fault Detection section:
	</p>
	<ul>
		<li>Whether you want to perform fault detection on the local machine or a remote machine.</li>
		<li>If the detection is done on a remote machine, the remote machine's hostname/IP name and OS</li>
		<li>If performing fault detection on a process, information will be asked about starting the process or service</li>
	</ul>
</div>
<div class="row-fluid wizard-actions">
	<button class="btn btn-success btn-next" ng-click="vm.next()" ng-disabled="configuratorForm.$invalid">
		Next
		<i class="icon-arrow-right icon-on-right"></i>
	</button>
</div>
