<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
    <All>
        <Define key="TargetHost"    value="192.168.56.104"/> 
        <Define key="MyASN"         value="7894"/> <!-- Maximum 2^16 == 65535 -->
        <Define key="MyASN4"        value="154878"/> <!-- Maximum 2^32 == 4294967296 -->
        <Define key="HoldTime"      value="180"/>
        <!-- <Define key="BGPIdentifier" value="192.168.56.101"/> -->
        <Define key="BGPIdentifier" value="0xC0A83865"/>
        <!-- BGPIdentifier should be an IP address that is assigned to the router -->
        <Define key="Path"          value="."/>
    </All>
</PitDefines>
