<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
    <All>
        <Define key="MyASN"         value="0x0000"/>
        <Define key="HoldTime"      value="0x0000"/>
        <Define key="BGPIdentifier" value="0x00000000"/>
        <!-- BGPIdentifier should be an IP address that is assigned to the router -->
        <Define key="Path"          value="."/>
    </All>
</PitDefines>
