<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
    <All>
        <Define key="RouterIP"         value="172.16.1.1"/> 
        <Define key="PeachIP"          value="172.16.1.2"/> <!-- Maximum 2^16 == 65535 -->
        <Define key="PeachASN"         value="31337"/> <!-- Maximum 2^16 == 65535 -->
        <Define key="PeachASN4"        value="31337"/> <!-- Maximum 2^32 == 4294967296 -->
        <Define key="HoldTime"      value="180"/>
        <Define key="BGPIdentifier" value="0xACA80102"/>
        <!-- BGPIdentifier should be the Peach IP address -->
        <Define key="Path"          value="."/>
    </All>
</PitDefines>
