<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Define key="Interface" name="" description="" type="" value="wlan0"/>
    <!-- android galaxy 3 - working -->
<!--    <Define key="TargetMAC" name="" description="" type="" value="b85e7b342fb8"/> -->
    <!-- Linux -->
    <Define key="TargetMAC" name="" description="" type="" value="7cdd9047b053"/>
    <!-- windows - fail -->
    <!-- <Define key="TargetMAC" name="" description="" type="" value="0024d7c6af7c"/> -->
    <!-- Iphone 5s - almost, dhcp fail -->
<!--<Define key="TargetMAC" name="" description="" type="" value="a888082f8585"/> -->
  <!-- iphone 5 - working -->
<!--    <Define key="TargetMAC" name="" description="" type="" value="a8fad824ce3c"/> -->
    <Define key="SourceMAC" name="" description="" type="" value="7cdd906146f5"/>

    <Define key="Channel" name="" description="" type="" value="2"/>
    <Define key="ChannelFrequency" name="" description="" type="" value="2417" />
    <Define key="Ssid" name="" description="" type="" value="PeachWifi"/>
    <Define key="Password" name="" description="" type="" value="PeachWifi"/>

    <Define key="TargetIPv4" name="" description="" type="" value="255.255.255.255"/>
    <Define key="SourceIPv4" name="" description="" type="" value="192.168.1.1"/>
    <Define key="SourcePort" name="" description="" type="" value="67"/>
    <Define key="TargetPort" name="" description="" type="" value="68"/>

    <Define key="Strategy" name="Mutation Strategy" description="This is the mutation strategy that Peach will use while fuzzing." value="Random"/>
    <Define key="PitLibraryPath" name="Pit Library Path" description="This is the Path to the root of the Pit library." type="directory" value="../../pro"/>

    <Define key="AssignedIPv4" name="" description="" type="" value="192.168.1.55"/>
    <Define key="RouterIP" name="" description="" type="" value="192.168.1.1"/>
    <Define key="BroadcastIP" name="" description="" type="" value="192.168.1.255"/>
    <Define key="DHCPServerIP" name="" description="" type="" value="192.168.1.1"/>
    <Define key="SubnetMask" name="" description="" type="" value="255.255.255.0"/>
    <Define key="DomainName" name="" description="" type="" value="localdomain"/>
    <Define key="DNS" name="" description="" type="" value="192.168.1.2"/>
    <Define key="NetBios" name="" description="" type="" value="192.168.1.2"/>
  </All>
</PitDefines>

<!--

C   Freq    NA  JP  World
1	2412	Yes	Yes	YesD
2	2417	Yes	Yes	YesD
3	2422	Yes	Yes	YesD
4	2427	Yes	Yes	YesD
5	2432	Yes	Yes	Yes
6	2437	Yes	Yes	Yes
7	2442	Yes	Yes	Yes
8	2447	Yes	Yes	Yes
9	2452	Yes	Yes	Yes
10	2457	Yes	Yes	Yes
11	2462	Yes	Yes	Yes
12	2467	No	Yes	Yes
13	2472	No 	Yes	Yes
14	2484    No  11b No

-->

<!--
((wlan.da == 00:02:72:78:6e:72 || wlan.sa == 00:02:72:78:6e:72) || (wlan.da == a8:fa:d8:24:ce:3c || wlan.sa == a8:fa:d8:24:ce:3c)) && wlan.fc.type_subtype != 0x08 && wlan.da != 20:25:64:6d:f4:52 && wlan.da != ff:ff:ff:ff:ff:ff && wlan.da != 20:25:64:6d:f4:50 && wlan.da != 00:1e:52:7b:2b:3e && wlan.sa != 20:25:64:6d:f4:52 && wlan.sa != ff:ff:ff:ff:ff:ff && wlan.sa != 20:25:64:6d:f4:50 && wlan.sa != 00:1e:52:7b:2b:3e && wlan.da != e8:8d:28:5f:26:ed && wlan.sa != e8:8d:28:5f:26:ed-->