<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Ipv4 key="TargetAgentIp"
          value="10.0.1.71" />
    
    <Iface key="TargetInterface"
           value="wlan1" />
    
    <Iface key="Interface"
           value="wlan0"
           name="Local Wireless Interface"
           description="The local wireless interface name."/>
    
    <Hwaddr key="TargetMAC"
            value="7cdd9047b053"
            name="Target MAC Address"
            description="MAC address of target wireless device."/>
    
    <!-- android galaxy 3: b85e7b342fb8 -->
    <!-- linux: 7cdd9047b053 -->
    <!-- windows: 0024d7c6af7c -->
    <!-- iphone 5s: a888082f8585 -->
    <!-- iphone 5: a8fad824ce3c -->
    
    <Hwaddr key="SourceMAC"
            value="7cdd906146f5"
            name="Source MAC Address"
            description="MAC address of local wireless device."/>
    
    <!--
    
    Channel Frequency Map
    
    C   Freq    NA  JP  World
    1	2412	Yes	Yes	YesD
    2	2417	Yes	Yes	YesD
    3	2422	Yes	Yes	YesD
    4	2427	Yes	Yes	YesD
    5	2432	Yes	Yes	Yes
    6	2437	Yes	Yes	Yes
    7	2442	Yes	Yes	Yes
    8	2447	Yes	Yes	Yes
    9	2452	Yes	Yes	Yes
    10	2457	Yes	Yes	Yes
    11	2462	Yes	Yes	Yes
    12	2467	No	Yes	Yes
    13	2472	No 	Yes	Yes
    14	2484    No  11b No
    
    -->
    
    <Range key="Channel"
           value="2"
           min="1" max="14"
           name="Wireless Channel"
           description="The wireless channel to broadcast on."/>
    
    <Range key="ChannelFrequency"
          value="2417"
           min="2412" max="2484"
           name="Wireless Channel Frequency"
           description="The wireless channel frequency to broadcast on. Must match channel number. Map: 1 - 2412; 2 - 2417; 3 - 2422; 4 - 2427; 5 - 2432; 6 - 2437; 7 - 2442; 8 - 2447; 9 - 2452; 10 - 2457; 11 - 2462; 12 - 2467; 13 - 2472; 14 - 2484." />
    
    <String key="Ssid"
            value="PeachWifi"
            name="Wireless SSID"
            description="The wireless station identifier."/>
    
    <String key="LoggerPath"
            value="logs/wifi_client/"
            name="Logger Path"
            description="The directory where Peach will save the log produced when fuzzing." />
    
    <Strategy key="Strategy"
              value="Random"
              name="Mutation Strategy"
              description="The mutation strategy to use when fuzzing." />
    
    <String key="PitLibraryPath"
            value="../../pro"
            name="Pit Library Path"
            description="The path to the root of the pit library."/>
    
    <!-- Do not modify values below this line -->

    <Ipv4 key="TargetIPv4" value="255.255.255.255" name="Target IP" description="Advanced option, do not modify."/>
    <Range key="TargetPort" value="68" min="0" max="65535" name="Target Port" description="Advanced option, do not modify."/>
    
    <Ipv4 key="SourceIPv4" value="192.168.1.1" name="Source IP" description="Advanced option, do not modify."/>
    <Range key="SourcePort" value="67" min="0" max="65535" name="Source Port" description="Advanced option, do not modify."/>

    <Ipv4 key="AssignedIPv4" value="192.168.1.55" name="Assigned IP" description="Advanced option, do not modify."/>
    <Ipv4 key="RouterIP" value="192.168.1.1" name="Router IP" description="Advanced option, do not modify."/>
    <Ipv4 key="BroadcastIP" value="192.168.1.255" name="Broadcast IP" description="Advanced option, do not modify."/>
    <Ipv4 key="DHCPServerIP" value="192.168.1.1" name="DHCP Server IP" description="Advanced option, do not modify."/>
    <Ipv4 key="SubnetMask" value="255.255.255.0" name="Subnet Mask" description="Advanced option, do not modify."/>
    <String key="DomainName" value="localdomain" name="Domain Name" description="Advanced option, do not modify."/>
    <Ipv4 key="DNS" value="192.168.1.2" name="DNS" description="Advanced option, do not modify."/>
    <Ipv4 key="NetBios" value="192.168.1.2" name="NetBios" description="Advanced option, do not modify."/>

  </All>
</PitDefines>
