<?xml version="1.0" encoding="utf-8"?>
<PitDefines>

	<All>
		<Define key="Seed" value="bmp_sample_01.bmp"/>
		<Define key="Strategy"  value="Random"/>
		<Define key="LoggerPath"  value="./logs/bmp/"/>
		<Define key="SamplePath" value="_Common/Samples/Image"/>
		<Define key="Path" value="."/>
	</All>
		
	<Linux platform="linux">
		<Define key="Agent" value="LinuxAgent"/>
		<Define key="Target" value="feh" />
	</Linux>
	<OSX platform="osx">
		<Define key="Agent" value="OsxAgent"/>
		<Define key="Target" value="/Applications/Preview.app/Contents/MacOS/Preview" />
	</OSX>
	<Windows platform="windows">
		<Define key="Agent" value="WinAgent"/>
		<Define key="Target" value="C:\\windows\\system32\\mspaint.exe" />
	</Windows>

</PitDefines>
