<?xml version="1.0" encoding="utf-8"?>
<PitDefines>

	<All>
		<Define key="Seed" value="png_sample_001.PNG"/>
		<Define key="Strategy"  value="Sequential"/>
		<Define key="LoggerPath"  value="./logs/png/"/>
		<Define key="Path" value="."/>
	</All>
		
	<Linux platform="linux">
		<Define key="Agent" value="LinuxAgent"/>
		<Define key="Target" value="feh" />
	</Linux>
	<OSX platform="osx">
	</OSX>
	<Windows platform="windows">
		<Define key="Agent" value="WinAgent"/>
		<Define key="Target" value="C:\\windows\\system32\\mspaint.exe" />
	</Windows>

</PitDefines>
