<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="prefix" value="/p/"/>
    <add key="target" value="http://localhost:8888"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <caching>
      <outputCache enableOutputCache="false"/>
    </caching>
  </system.web>
  <system.webServer>
			<httpProtocol>
			<redirectHeaders>
				<add name="Accept" value="application/json"/>
			</redirectHeaders>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*"/>
			</customHeaders>
		</httpProtocol>

		<staticContent>
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<clientCache cacheControlMode="DisableCache"/>
		</staticContent>
    <urlCompression doDynamicCompression="false" doStaticCompression="false"/>
    <caching enabled="false" />
    <handlers>
      <add name="ReverseProxy" verb="*"
           path="/p/*"
           type="Peach.Pro.Web.ReverseProxy, Peach.Pro.Web"
           resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>
