.hidden {
	display: none;
}

.skin-1 .nav-list > li.disabled > a > .menu-text,
.skin-1 .nav-list > li.disabled > a > i,
.skin-1 .nav-list > li.disabled > a > .arrow {
	color: #595D60;
	cursor: not-allowed;
}

a.disabled {
	cursor: not-allowed;
}

.timeline.vis .box.item {
	cursor: pointer;
}

.dropdown-light-blue li span:hover,
.dropdown-light-blue li span:focus,
.dropdown-light-blue li span:active,
.dropdown-light-blue li.active span,
.dropdown-light-blue li.active span:hover,
.dropdown-light-blue .dropdown-submenu:hover > span,
.nav-tabs .dropdown-light-blue li > span:focus,
.dropdown-light-blue li div:hover,
.dropdown-light-blue li div:focus,
.dropdown-light-blue li div:active,
.dropdown-light-blue li.active div,
.dropdown-light-blue li.active div:hover,
.dropdown-light-blue .dropdown-submenu:hover > div,
.nav-tabs .dropdown-light-blue li > div:focus {
	background: #ecf3f9;
	color: #445566;
}

pre {
	white-space: pre-wrap;
}

.peach-field-info:before {
	content: "\f059";
}

.peach-field-info {
	font-family: FontAwesome2;
	cursor: pointer;
}

.pointer {
	cursor: pointer;
}

.accordion-toggle:hover {
	text-decoration: none;
}

.accordion-toggle:focus {
	outline: none;
	cursor: pointer;
}

.btn-cell {
	line-height: 24px;
	background-color: transparent !important;
	border-color: transparent !important;
	color: red !important;
}

.btn-xs .glyphicon  {
	margin-right: 0;
}

/* 
	fix for ace.css
	default seems to be relative
	this can cause main-content form-groups to flow below the bottom of the sidebar
*/
.sidebar {
	position: absolute;
}

/* fix for backdrop, for some reason this is missing */
.modal-backdrop {
	bottom: 0;
}

/* turn off animation, this can screw with autofocus */
.modal.fade .modal-dialog,
.modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
