<div class="input-group combobox">
	<span class="input-group-addon"
				uib-tooltip="{{description}}"
				tooltip-placement="above"
				tooltip-append-to-body="true">
		<i class="fa fa-question-circle"></i>
	</span>
	<input type="text"
				 class="form-control"
				 ng-model="selected"
				 ng-keydown="vm.OnKeyDown($event)"
				 ng-keyup="vm.OnKeyUp($event)"
				 placeholder="{{placeholder}}" />
	<span class="open"
				ng-click="vm.ToggleOptions()"
				ng-disabled="!data.length">
	</span>
	<ul class="options"
			ng-if="showOptions && options.length">
		<li class="option"
				ng-repeat="option in options"
				data-value="{{option.value}}"
				ng-click="vm.SelectOption(option)"
				ng-class="{highlighted: highlighted == $index}">
			{{option}}
		</li>
	</ul>
</div>
