<div class="blue"
     ng-show="vm.IsSetVars">
	{{Question.shortName || Question.key}}
</div>
<div>
	<label>
		{{Question.q}}
	</label>
</div>
<p ng-if="!Question.required">
	(Optional)
</p>
<p>
	Value must be an integer between {{Question.rangeMin}} and {{Question.rangeMax}}
</p>
<div class="row">
	<div class="col-sm-6">
		<input name="question"
					 autocomplete="off"
					 ng-model="Question.value"
					 class="form-control"
					 step="1"
					 peach:auto-focus
					 peach:range
					 peach:range-min="Question.rangeMin"
					 peach:range-max="Question.rangeMax"
					 type="text"
					 ng-required="Question.required"
					 integer />
	</div>
</div>
<span class="help-block"
			ng-messages="form.question.$error"
			ng-messages-include="html/messages.html">
</span>
