<div class="blue"
		 ng-show="vm.IsSetVars">
	{{Question.shortName || Question.key}}
</div>
<div>
	<label>
		{{Question.q}}
	</label>
</div>
<p ng-if="!Question.required">
	(Optional)
</p>
<div class="row">
	<div class="col-sm-6">
		<input name="question"
					 ng-model="Question.value"
					 type="text"
					 class="form-control"
					 ng-required="Question.required"
					 peach:auto-focus />
	</div>
</div>
<span class="help-block"
			ng-messages="form.question.$error"
			ng-messages-include="html/messages.html">
</span>
<table class="table table-striped table-hover table-bordered"
			 ng-show="!vm.IsSetVars">
	<caption>
		Variables
	</caption>
	<thead>
		<tr>
			<th>Key</th>
			<th>Value</th>
			<th class="center">Insert</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="def in Defines">
			<td class="align-middle">
				{{def.key}}
			</td>
			<td>
				{{def.value}}
			</td>
			<td class="center">
				<button class="btn btn-xs btn-primary"
								ng-click="vm.OnInsertDefine(def)">
					<i class="fa fa-arrow-circle-up">
					</i>
				</button>
			</td>
		</tr>
	</tbody>
</table>
