<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="peachfarm.reporting" type="PeachFarm.Reporting.Configuration.ReportGeneratorSection, PeachFarm.Reporting" allowLocation="true" allowDefinition="Everywhere"/>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<peachfarm.reporting>
		<Controller ipAddress="10.0.1.104"/>
		<RabbitMq hostName="10.0.1.104" port="-1" userName="guest" password="guest" useSSL="false"/>
		<MongoDb connectionString="mongodb://10.0.1.104/?safe=true"/>
		<Monitor baseURL="http://dejaapps/pfmonitor/"/>
	</peachfarm.reporting>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

		<!-- make sure to set 'Copy To Output Directory' option for this file -->
		<!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

		<targets>
			<!--
			<target name="console" xsi:type="Console" layout="${message}"/>
			-->
		</targets>

		<rules>
			<!--
			<logger minlevel="Debug" writeTo="console"/>
			-->
		</rules>
	</nlog>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
