<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="peachfarm.reporting" type="PeachFarm.Reporting.Configuration.ReportGeneratorSection, PeachFarm.Reporting" allowLocation="true" allowDefinition="Everywhere"/>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<connectionStrings>
		<add name="PeachFarm.Reporting.Reports.Properties.Settings.peachfarmreporting"
				connectionString="server=dejaapps;port=3307;database=peachfarmreporting;User Id=apps;password=dejaapps"
				providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<peachfarm.reporting>
		<Controller ipAddress="10.0.1.39"/>
		<RabbitMq hostName="10.0.1.39" port="-1" userName="guest" password="guest" useSSL="false"/>+
		<MongoDb connectionString="mongodb://10.0.1.39/?safe=true"/>
		<Monitor baseURL="http://dejaapps/pfmonitor/"/>
		<MySql connectionString="Server=dejaapps;Port=3307;Database=peachfarmreporting;Uid=apps;Pwd=dejaapps;" />
	</peachfarm.reporting>
	<system.data>
		<DbProviderFactories>
			<add name="MySQL Data Provider"
		  invariant="MySql.Data.MySqlClient"
		  description=".Net Framework Data Provider for MySQL"
		  type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

		<!-- make sure to set 'Copy To Output Directory' option for this file -->
		<!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

		<targets>
			<target name="console" xsi:type="Console" layout="${message}"/>
			<target name="eventlog" xsi:type="EventLog" source="PeachFarm" log="PeachFarmReporting" layout="${longdate}|${level:uppercase=true}|${logger}${newline}${message}"/>
		</targets>

		<rules>
			<logger minlevel="Trace" maxlevel="Info" writeTo="console"/>
			<logger minlevel="Warn" writeTo="eventlog" />
		</rules>
	</nlog>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
