<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="peachfarm.controller" type="PeachFarm.Controller.Configuration.ControllerSection, PeachFarm.Controller" allowLocation="true" allowDefinition="Everywhere" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <peachfarm.controller>
    <MongoDb connectionString="mongodb://10.0.1.39/?safe=true" />
    <RabbitMq hostName="10.0.1.39" port="-1" userName="guest" password="guest" useSSL="false" />
		<NodeExpirationRules lateMinutes="5" expiredMinutes="30" />
	</peachfarm.controller>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- make sure to set 'Copy To Output Directory' option for this file -->
    <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

    <targets>
      <target name="console" xsi:type="Console" layout="${message}"/>
      <target name="eventlog" xsi:type="EventLog" source="PeachFarm" log="PeachFarmController" layout="${longdate}|${level:uppercase=true}|${logger}${newline}${message}"/>
    </targets>

    <rules>
      <logger minlevel="Trace" maxlevel="Info" writeTo="console"/>
      <logger minlevel="Warn" writeTo="eventlog" />
    </rules>
  </nlog>
</configuration>