<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="peachfarm.node" type="PeachFarm.Node.Configuration.NodeSection, PeachFarm.Node" allowLocation="true" allowDefinition="Everywhere" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <peachfarm.node>
    <Controller ipAddress="10.0.1.23" />
		<RabbitMq hostName="10.0.1.23" port="-1" userName="guest" password="guest" />
		<Tags>
      <add name="Windows" />
      <add name="x64" />
    </Tags>
  </peachfarm.node>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- make sure to set 'Copy To Output Directory' option for this file -->
    <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

    <targets>
      <target name="console" xsi:type="Console" layout="${message}"/>
      <target name="eventlog" xsi:type="EventLog" source="PeachFarm" log="PeachFarmNode" layout="${longdate}|${level:uppercase=true}|${logger}${newline}${message}"/>
    </targets>

    <rules>
      <logger minlevel="Debug" writeTo="console"/>
      <logger minlevel="Info" writeTo="eventlog" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
