<?xml version="1.0" encoding="utf-8" ?>
<peachfarm.node>
	<Controller ipAddress="10.0.1.39" />
	<RabbitMq hostName="10.0.1.39" port="-1" userName="guest" password="guest" useSSL="false" />
	<Tags>
		<add name="Windows" />
		<add name="x64" />
	</Tags>
</peachfarm.node>