<table class="table table-striped table-hover table-bordered">
	<thead>
		<tr>
			<th class="peach-icon-cell"></th>
			<th>Automation Monitors</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="agent in vm.Agents">
			<td class="peach-icon-cell center">
				<button class="btn btn-xs btn-danger"
								ng-click="vm.OnRemoveAgent($index)">
					<i class="glyphicon glyphicon-remove"></i>
				</button>
			</td>
			<td style="vertical-align: middle">
				<div ng-repeat="monitor in agent.monitors">
					{{monitor.description}}
				</div>
			</td>
		</tr>
	</tbody>
</table>
