<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Ipv4 key="RemoteAgentIP" name="Remote Agent IP Address" description="" value="10.0.1.40"/>
    <Hwaddr key="SourceMAC" name="Source MAC Address" description="" value="5254005335d3"/>
    <Ipv4 key="SourceIPv4" name="Source IP Address" description=""  value="127.0.0.1"/>
    <Hwaddr key="TargetMAC" name="Target MAC Address" description=""   value="000000000000"/>
    <Ipv4 key="TargetIPv4" name="Target IP Address" description=""  value="127.0.0.2"/>
    <String key="LoggerPath" name="Logger Path" description=""  value="logs/arp/"/>
    <Strategy key="Strategy" name="name" description=""  value="Random"/>
    <String key="PitLibraryPath" name="Pit Library Path" description="" value="."/>
  </All>

  <Linux>
    <Iface key="Interface" name="name" description="" value="eth0"/>
    <Iface key="tsharkInterface" name="name" description="" value="eth0"/>
    <String key="tsharkBin" name="name" description="" value="/usr/bin/tshark"/>
  </Linux>

  <OSX>
    <!-- This can't run on OS X because it uses the RawEther publisher. -->
  </OSX>

  <Windows>
    <!-- This can't run on windows because it uses the RawEther publisher. -->
  </Windows>
</PitDefines>
