<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Hwaddr key="SourceMAC" name="Source MAC Address" description="" value="000000000000"/>
    <Hwaddr key="TargetMAC" name="Target MAC Address" description="" value="000000000000"/>
    <Hwaddr key="SwitchMAC" name="name" description="" value="000000000000"/>
    <Ipv4 key="RemoteAgentIP" name="Remote Agent IP Address" description="" value="10.0.1.40"/>
    <String key="Hostname" name="name" description="" value="foobar"/>
    <String key="Domain" name="name" description="" value="foobar"/>
    <Ipv4 key="SourceIPv4" name="Source IP Address" description="" value="127.0.0.1"/>
    <String key="LoggerPath" name="Logger Path" description="" value="logs/cdp/"/>
    <Strategy key="Strategy" name="name" description=""  value="Random"/>
		<String key="PitLibraryPath" name="Pit Library Path" description="" value="."/>
  </All>

  <Linux>
    <Iface key="Interface" name="name" description="" value="eth0"/>
    <Iface key="tsharkInterface" name="name" description="" value="eth0"/>
    <String key="tsharkBin" name="name" description="" value="/usr/bin/tshark"/>
  </Linux>

  <OSX>
     <!-- This can't run on OS X because it uses the RawEther publisher. -->
  </OSX>

  <Windows>
    <!-- This can't run on windows because it uses the RawEther publisher. -->
  </Windows>
</PitDefines>
