<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <String key="LoggerPath" name="Logger Path" description="" value="logs/dhcpV6/"/>
    <Range key="SourcePort" name="name" description="" min="0" max="65535" value="547"/>
    <String key="MulticastDHCP" name="" description="" value="ff02::1:2"/>
    <Ipv6 key="TargetIPv6" name="Target IP Address" description="" value="fe80::5054:ff:fe02:c880"/>
    <String key="TargetIPv6Lease" name="" description="" value="fe80::908:7a38:6156:acce"/>
    <Ipv6 key="SourceIPv6" name="Source IP Address" description="" value="fe80::3e97:eff:fe47:524a%4"/>
    <String key="MaxTries" name="" description="" value="20"/> <!-- Maximum number of packets to listen for before going to next iter -->
    <Hwaddr key="SourceMAC" name="Source MAC Address" description="" value="000c291bf55d"/>
    <Range key="TargetPort" name="name" description="" min="0" max="65535" value="546"/>
    <Strategy key="Strategy" name="name" description="" value="Random"/>
    <Iface key="Interface" name="name" description="" value="::1"/> <!-- This needs to be "::1" to bind to all interfaces. This is because ipv6 multicast oddness. -->
    <Ipv4 key="RemoteAgentIP" name="Remote Agent IP Address" description="" value="127.0.0.1"/>
    <String key="PitLibraryPath" name="Pit Library Path" description="" value="."/>


    <String key="DuidTime" name="" description="" value="0"/>
    <String key="DuitTimeRequest" name="" description="" value="0"/>
    <String key="DuidTimeSolicit" name="" description="" value="0"/>
    <String key="Domain" name="" description="" value="PeachDomain"/>
    <String key="TransactionId" name="" description="" value="4c137f"/>
  </All>

  <Linux>
    <Iface key="tsharkInterface" name="name" description="" value="eth0"/>
    <String key="TargetInterface" name="" description="" value="eth0"/>
    <String key="tsharkBin" name="name" description="" value="/usr/bin/tshark"/>
  </Linux>

  <OSX>
    <Iface key="tsharkInterface" name="name" description="" value="en0"/>
    <String key="TargetInterface" name="" description="" value="en0"/>
    <String key="tsharkBin" name="name" description="" value="/usr/local/bin/tshark"/> <!-- fix depending on actual install location -->
  </OSX>

  <Windows>
    <String key="TargetInterface" name="" description="" value="Local Area Connection"/>
    <Iface key="tsharkInterface" name="name" description="" value="2"/>
    <String key="tsharkBin" name="name" description="" value="C:\Program Files\Wireshark\tshark.exe"/>
  </Windows>
</PitDefines>
