<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Range key="SourcePort" name="name" description="" min="0" max="65535" value="546"/>
    <Ipv6 key="MulticastDHCP" name="" description="" value="ff02::1:2"/>
    <Hwaddr key="SourceMAC" name="Source MAC Address" description="" value="000c290de351"/>
    <Hwaddr key="TargetMAC" name="Target MAC Address" description="" value="000c294eec85"/>
    <Range key="TargetPort" name="name" description="" min="0" max="65535" value="547"/>
    <Strategy key="Strategy" name="name" description="" value="Random"/>
    <String key="LoggerPath" name="Logger Path" description="" value="logs/dhcpV6/"/>
    <String key="PitLibraryPath" name="Pit Library Path" description="" value="."/>
    <None key="DuidTime" name="name" description="" value="0"/>
    <None key="RequestDuidTime" name="name" description="" value="0"/>
    <None key="SolicitDuidTime" name="name" description="" value="0"/>
    <String key="TransactionId" name="" description="" value="e7fb58"/>
  </All>

  <Linux>
    <Iface key="Interface" name="name" description="" value="eth0"/>
  </Linux>

  <OSX>
    <Iface key="Interface" name="name" description="" value="en0"/>
  </OSX>

  <Windows>
    <Iface key="Interface" name="name" description="" value="Local Area Connection"/>
  </Windows>
</PitDefines>
