<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Define key="SourcePort" name="" description="" type="" value="546"/>
    <Define key="MulticastDHCP" name="" description="" type="" value="ff02::1:2"/>
    <Define key="SourceMAC" name="" description="" type="" value="000c290de351"/>
    <Define key="TargetMAC" name="" description="" type="" value="000c294eec85"/>
    <Define key="TargetPort" name="" description="" type="" value="547"/>
    <Define key="Strategy"  name="" description="" type="" value="Random"/>
    <Define key="LoggerPath" name="" description="" type="" value="logs/dhcpV6/"/>
    <Define key="PitLibraryPath" name="" description="" type="" value="."/>
    <Define key="DuidTime" name="" description="" type="" value="0"/>
    <Define key="RequestDuidTime" name="" description="" type="" value="0"/>
    <Define key="SolicitDuidTime" name="" description="" type="" value="0"/>
    <Define key="TransactionId" name="" description="" type="" value="e7fb58"/>
  </All>

  <Linux platform="linux">
    <Define key="Interface" name="" description="" type="" value="eth0"/>
  </Linux>

  <OSX platform="osx">
    <Define key="Interface" name="" description="" type="" value="en0"/>
  </OSX>

  <Windows platform="windows">
    <Define key="Interface" name="" description="" type="" value="Local Area Connection"/>
  </Windows>
</PitDefines>
