<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Ipv4 key="RemoteAgent" name="Remote Agent IP Address" description="" value="10.0.1.40"/>
    <String key="LoggerPath" name="Logger Path" description=""  value="./logs/ethernet/"/>
    <Strategy key="Strategy" name="name" description=""  value="Random"/>
    <Hwaddr key="TargetMAC" name="Target MAC Address" description="" value="0000000000"/>
    <Hwaddr key="SourceMAC" name="Source MAC Address" description="" value="0000000000"/>
    <String key="PitLibraryPath" name="Pit Library Path" description="" value="."/>
    <Ipv4 key="SourceIPv4" name="Source IP Address" description="" value="127.0.0.1"/> <!-- this is for testing with ARP -->
    <Ipv4 key="TargetIPv4" name="Target IP Address" description="" value="127.0.0.1"/> <!-- this is for testing with ARP -->
  </All>

  <Linux>
    <Iface key="Interface" name="name" description="" value="lo"/>
    <Iface key="tsharkInterface" name="name" description="" value="lo"/>
    <String key="tsharkBin" name="name" description="" value="/usr/bin/tshark"/>
  </Linux>

  <OSX>
    <Iface key="Interface" name="name" description="" value="en0"/>
    <Iface key="tsharkInterface" name="name" description="" value="en0"/>
    <String key="tsharkBin" name="name" description="" value="/usr/local/bin/tshark"/> <!-- fix depending on actual install location -->
  </OSX>

  <Windows>
    <!-- This can't run on windows because it uses the RawEther publisher. -->
  </Windows>
</PitDefines>
