<?xml version="1.0" encoding="utf-8"?>
<PitDefines Include="./Net/ARP_Config.xml">
  <All>
    <Define key="RemoteAgent" value="10.0.1.40"/>
    <Define key="LoggerPath"  value="./logs/ethernet/"/> 
    <Define key="Strategy"  value="Sequential"/>
    <Define key="TargetMAC" value="0000000000"/>
    <Define key="SourceMAC" value="0000000000"/>
    <Define key="PitLibraryPath" value="."/>
    <Define key="SourceIPv4" value="127.0.0.1"/> <!-- this is for testing with ARP -->
    <Define key="TargetIPv4" value="127.0.0.1"/> <!-- this is for testing with ARP -->
  </All>
  <Linux platform="linux">
    <Define key="Interface" value="lo"/>
    <Define key="tsharkInterface" value="lo"/>
    <Define key="tsharkBin" value="/usr/bin/tshark"/>
  </Linux>
  <OSX platform="osx">
    <Define key="Interface" value="en0"/>
    <Define key="tsharkInterface" value="en0"/>
    <Define key="tsharkBin" value="/usr/local/bin/tshark"/> <!-- fix depending on actual install location -->
  </OSX>
  <Windows platform="windows">
    <!-- This can't run on windows because it uses the RawEther publisher. -->
  </Windows>
</PitDefines>
