<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Define key="TargetIPv4" value="127.0.0.1"/>
		<Define key="TargetPort" value="21"/>
    <Define key="LoggerPath" value="logs/ftp/"/>
    <Define key="Strategy"  value="Random"/>
		<Define key="FtpUser" value="telnetuser"/>
		<Define key="FtpPass" value="telnetuserp455"/>
		<Define key="PitLibraryPath" value="."/>
    <Define key="DataPort" value="31337"/>
    <Define key="CommandPort" value="21"/>
    <Define key="AcceptTimeout" value="10000"/>
  </All>

   <Linux platform="linux">
     <Define key="Interface" value="eth0"/>
     <Define key="Program"  value="_Testing/CustomTests/ftp.sh"/>
     <Define key="SourceIPv4" value="127.0.0.1"/>
   </Linux>

   <OSX platform="osx">
     <Define key="Interface" value="en0"/>
     <Define key="Program" value="_Testing/CustomTests/ftp.sh"/>
     <Define key="SourceIPv4" value="127.0.0.1"/>
   </OSX>

   <Windows platform="windows">
     <Define key="Interface" value="Local Area Connection"/>
     <Define key="Program"  value="ftp"/>
     <Define key="SourceIPv4" value="127.0.0.1"/>
     <Define key="Arguments" value="-s:_Testing/CustomTests/ftp.txt"/>
   </Windows>
</PitDefines>
