<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Ipv4 key="TargetIPv4" name="Target IP Address" description="" value="127.0.0.1"/>
		<Range key="TargetPort" name="name" description="" min="0" max="65535" value="21"/>
    <String key="LoggerPath" name="Logger Path" description="" value="logs/ftp/"/>
    <Strategy key="Strategy" name="name" description=""  value="Random"/>
		<String key="FtpUser" name="name" description="" value="telnetuser"/>
		<String key="FtpPass" name="name" description="" value="telnetuserp455"/>
		<String key="PitLibraryPath" name="Pit Library Path" description="" value="."/>
    <Range key="DataPort" name="name" description="" min="0" max="65535" value="31337"/>
    <Range key="CommandPort" name="name" description="" min="0" max="65535" value="21"/>
    <Range key="AcceptTimeout" name="name" description="" min="0" max="10000000" value="10000"/>
  </All>

   <Linux>
     <Iface key="Interface" name="name" description="" value="eth0"/>
     <String key="Program" name="Program" description=""  value="_Testing/CustomTests/ftp.sh"/>
     <Ipv4 key="SourceIPv4" name="Source IP Address" description="" value="127.0.0.1"/>
   </Linux>

   <OSX>
     <Iface key="Interface" name="name" description="" value="en0"/>
     <String key="Program" name="Program" description="" value="_Testing/CustomTests/ftp.sh"/>
     <Ipv4 key="SourceIPv4" name="Source IP Address" description="" value="127.0.0.1"/>
   </OSX>

   <Windows>
     <Iface key="Interface" name="name" description="" value="Local Area Connection"/>
     <String key="Program" name="Program" description=""  value="ftp"/>
     <Ipv4 key="SourceIPv4" name="Source IP Address" description="" value="127.0.0.1"/>
     <String key="Arguments" name="name" description="" value="-s:_Testing/CustomTests/ftp.txt"/>
   </Windows>
</PitDefines>
