<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Hwaddr key="SourceMAC" name="Source MAC Address" description="" value="000c2905e8d7"/>
    <Ipv4 key="RemoteAgentIP" name="Remote Agent IP Address" description="" value="10.0.1.40"/>
    <Ipv6 key="TargetIPv6" name="Target IP Address" description="" value="fe80::20c:29ff:fe05:e8d7"/>
    <String key="LoggerPath" name="Logger Path" description="" value="logs/ICMPv6/"/>
    <Ipv6 key="SourceIPv6" name="Source IP Address" description="" value="fe80::b8da:d0d1:8c71:5c36%32"/>
    <Strategy key="Strategy" name="name" description=""  value="Random"/>
    <String key="PitLibraryPath" name="Pit Library Path" description="" value="."/>
  </All>

  <Linux>
    <Iface key="Interface" name="name" description="" value="lo"/>
    <Iface key="tsharkInterface" name="name" description="" value="lo"/>
    <String key="tsharkBin" name="name" description="" value="/usr/bin/tshark"/>
  </Linux>

  <OSX>
    <Iface key="Interface" name="name" description="" value="en0"/>
    <Iface key="tsharkInterface" name="name" description="" value="en0"/>
    <String key="tsharkBin" name="name" description="" value="/usr/local/bin/tshark"/> <!-- fix depending on actual install location -->
  </OSX>

  <Windows>
    <Iface key="Interface" name="name" description="" value="Local Area Connection"/>
    <Iface key="tsharkInterface" name="name" description="" value="2"/>
    <String key="tsharkBin" name="name" description="" value="C:\Program Files\Wireshark\tshark.exe"/>
  </Windows>
</PitDefines>
