<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
	<All>
		
		<Enum key="Mode"
			  value="Transport"
			  enumType="Peach.Enterprise.Pits.IpSecv6_Mode"
			  name="IPSEC Mode"
			  description="IPSEC mode of operation."/>
		
		<Enum key="EncryptionAlg"
			  value="Aes128"
			  enumType="Peach.Enterprise.Pits.IpSecv6_Encryption"
			  name="Encryption Algorithm"
			  description="IPSEC encryption algorithm."/>

		<String key="CryptoKey"
				value="41414141414141414141414141414141"
				name="Encryption Key"
				description="Encryption key in HEX. For AES the key must be 16 bytes long. For 3DES it must be 8 bytes long."/>
        
		<String key="IV"
				value="baae9ef59ff1ee56211769bd91da50ed"
				name="Initialization Vector (IV)"
				description="Initialization vector (IV) in HEX. For AES the IV must be 16 bytes long. For 3DES is must be 8 bytes long."/>
		
		<Enum key="HashAlg"
			  value="HMACSHA1"
			  enumType="Peach.Enterprise.Pits.IpSecv6_HMAC"
			  name="HMAC Hash Algorithm"
			  description="The HMAC hash algorithm to use."/>
		
		<String key="AuthKey"
				value="4141414141414141414141414141414141414141"
				name="HMAC Key"
				description="HMAC authentication key. Length of this key is dependent on the HMAC algorithm selected."/>
        
		<String key="SPI"
				value="201"
				name="Security Parameters Index (SPI)"
				description="The SPI is an arbitrary 32-bit value that, in combination with the destination IP address and security protocol (AH), uniquely identifies the Security Association for this datagram."/>
		
		<Hwaddr key="SourceMAC"
				value="000000000000"
				name="Source MAC Address"
				description="Hardware address of the network interface on machine running Peach Fuzzer. To find the hardware address on Windows, run 'ipconfig /all' and look for the 'Physical Address' field. For Linux run 'ifconfig' and look for the 'HWaddr' field. For OS X run 'ifconfig' and look for the 'ether' field."/>

		<Ipv4 key="SourceIPv4"
			  value="127.0.0.1"
			  name="Source IPv4 Address"
			  description="The IPv4 address of the machine running Peach Fuzzer. The IPv4 address can be found on Windows by running 'ipconfig' and looking for the 'IPv4 Address' field. For Linux run 'ifconfig' and look for 'inet addr' field. For OS X run 'ifconfig' and look for the 'inet' field."/>

		<Ipv6 key="SourceIPv6"
			  value="::1"
			  name="Source IPv6 Address"
			  description="The IPv6 address of the machine running Peach Fuzzer. The IPv6 address can be found on Windows by running 'ipconfig' and looking for the 'IPv6 Address' field. For Linux run 'ifconfig' and look for 'inet6 addr' field. For OS X run 'ifconfig' and look for the 'inet6' field."/>

		<Range key="SourcePort"
			   value="1234"
			   min="0" max="65535"
			   name="Source Port"
			   description="The source port the network packet originates from."/>

		<Hwaddr key="TargetMAC"
				value="000000000000"
				name="Target MAC Address"
				description="Hardware address of the network interface on target machine or device. To find the hardware address on Windows, run 'ipconfig /all' and look for the 'Physical Address' field. For Linux run 'ifconfig' and look for the 'HWaddr' field. For OS X run 'ifconfig' and look for the 'ether' field."  />

		<Ipv4 key="TargetIPv4"
			  value="127.0.0.1"
			  name="Target IPv4 Address"
			  description="The IPv4 address of the target machine or device. The IPv4 address can be found on Windows by running 'ipconfig' and looking for the 'IPv4 Address' field. For Linux run 'ifconfig' and look for 'inet addr' field. For OS X run 'ifconfig' and look for the 'inet' field." />

		<Ipv6 key="TargetIPv6"
			  value="::1"
			  name="Target IPv6 Address"
			  description="The IPv6 address of the target machine or device. The IPv6 address can be found on Windows by running 'ipconfig' and looking for the 'IPv6 Address' field. For Linux run 'ifconfig' and look for 'inet6 addr' field. For OS X run 'ifconfig' and look for the 'inet6' field."/>

		<Range key="TargetPort"
			   value="1234"
			   min="0"
			   max="65535"
			   name="Target Port"
			   description="The target or destination port the network packet is sent to."/>

		<String key="LoggerPath"
				value="logs/ipsecv6_esp/"
				name="Logger Path"
				description="The directory where Peach will save the log produced when fuzzing." />

		<Strategy key="Strategy"
				  value="Random"
				  name="Mutation Strategy"
				  description="The mutation strategy to use when fuzzing." />

		<String key="PitLibraryPath"
				value="."
				name="Pit Library Path"
				description="The path to the root of the pit library."/>
	</All>
</PitDefines>
