<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Ipv6 key="TargetIPv6" name="Target IP Address" description="" value="::1"/>
    <Ipv6 key="SourceIPv6" name="Source IP Address" description="" value="::1"/>
    <String key="LoggerPath" name="Logger Path" description="" value="logs/IPv6/"/>
    <Hwaddr key="SourceMAC" name="Source MAC Address" description="" value="000c29ef2a1b" />
    <Hwaddr key="TargetMAC" name="Target MAC Address" description="" value="000c29ef2a1b" />
    <Strategy key="Strategy" name="name" description=""  value="Random"/>

    <!--Used for UDPv6-->
    <Range key="SourcePort" name="name" description="" min="0" max="65535" value="12345"/>
    <Range key="TargetPort" name="name" description="" min="0" max="65535" value="12345"/>

    <String key="PitLibraryPath" name="Pit Library Path" description="" value="."/>
  </All>

  <Linux>
    <Iface key="Interface" name="name" description="" value="lo"/>
    <Iface key="tsharkInterface" name="name" description="" value="lo"/>
    <String key="tsharkBin" name="name" description="" value="/usr/bin/tshark"/>
  </Linux>

  <OSX>
    <!-- This can't run on OS X because it uses the RawEther publisher. -->
  </OSX>

  <Windows>
    <!-- This can't run on windows because it uses the RawEther publisher. -->
  </Windows>
</PitDefines>
