<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Hwaddr key="SourceMAC" name="Source MAC Address" description=""     value="5254005335d3"/>
    <Hwaddr key="TargetMAC" name="Target MAC Address" description=""     value="000000000000"/>
    <String key="LoggerPath" name="Logger Path" description=""    value="./logs/lacp/"/>
    <Hwaddr key="ActorMAC"   name="name" description=""   value="0004961f506a"/>
    <Hwaddr key="PartnerMAC" name="name" description=""   value="000000000000"/>
    <Range key="ActorPort"    name="name" description="" min="0" max="65535" value="18"/>
    <Range key="PartnerPort"  name="name" description="" min="0" max="65535" value="0"/>
    <Ipv4 key="RemoteAgentIP" name="Remote Agent IP Address" description="" value="10.0.1.40"/>
    <Strategy key="Strategy" name="name" description=""      value="Random"/>
    <String key="PitLibraryPath" name="Pit Library Path" description=""          value="."/>
  </All>

  <Linux>
    <Iface key="Interface" name="name" description=""       value="eth0"/>
    <Iface key="tsharkInterface" name="name" description="" value="eth0"/>
    <String key="tsharkBin" name="name" description=""       value="/usr/bin/tshark"/>
  </Linux>

  <OSX>
    <!-- This can't run on osx because it uses the RawEther publisher. -->
  </OSX>

  <Windows>
    <!-- This can't run on windows because it uses the RawEther publisher. -->
  </Windows>
</PitDefines>
