<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <String key="LoggerPath" name="Logger Path" description=""  value="./logs/ldap/client"/>
    <Strategy key="Strategy" name="name" description=""  value="Random"/>
    <Ipv4 key="TargetIPv4" name="Target IP Address" description="" value="10.0.1.23"/>
    <Range key="TargetPort" name="name" description="" min="0" max="65535" value="389"/>
    <String key="Password" name="name" description="" value="password"/>
    <String key="UserName" name="name" description="" value="cn=admin,dc=peach,dc=local"/>
    <String key="PitLibraryPath" name="Pit Library Path" description="" value="."/>
    <Range key="Timeout" name="name" description="" min="0" max="1000000" value="10000"/>
  </All>

  <Linux>
    <Iface key="Interface" name="name" description="" value="eth0"/>
    <Ipv4 key="SourceIPv4" name="Source IP Address" description="" value="10.0.1.92"/>
  </Linux>

  <OSX>
   <Iface key="Interface" name="name" description="" value="en0"/>
   <Ipv4 key="SourceIPv4" name="Source IP Address" description="" value="10.0.1.94"/>
  </OSX>

  <Windows>
    <Iface key="Interface" name="name" description="" value="Local Area Connection"/>
    <Ipv4 key="SourceIPv4" name="Source IP Address" description="" value="10.0.1.82"/>
  </Windows>
</PitDefines>
