<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Define key="LoggerPath"  value="./logs/ldap/client"/>
    <Define key="Strategy"  value="Random"/>
    <Define key="TargetIPv4" value="10.0.1.23"/>
    <Define key="TargetPort" value="389"/>
    <Define key="Password" value="password"/>
    <Define key="UserName" value="cn=admin,dc=peach,dc=local"/>
    <Define key="PitLibraryPath" value="."/>
    <Define key="Timeout" value="10000"/>
  </All>

  <Linux platform="linux">
    <Define key="Interface" value="eth0"/>
    <Define key="SourceIPv4" value="10.0.1.92"/>
  </Linux>

  <OSX platform="osx">
   <Define key="Interface" value="en0"/>
   <Define key="SourceIPv4" value="10.0.1.94"/>
  </OSX>

  <Windows platform="windows">
    <Define key="Interface" value="Local Area Connection"/>
    <Define key="SourceIPv4" value="10.0.1.82"/>
  </Windows>
</PitDefines>
