<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Define key="RemoteAgentIP" value="10.0.1.40"/>
    <Define key="SourceMAC" value="000000000000"/>
    <Define key="TargetMAC" value="000000000000"/>
    <Define key="Hostname" value="foobar"/>
    <Define key="LoggerPath"  value="logs/lldp/"/>
    <Define key="Strategy"  value="Sequential"/>
		<Define key="PitLibraryPath" value="."/>
  </All>

  <Linux platform="linux">
    <Define key="Interface" value="eth0"/>
    <Define key="tsharkInterface" value="eth0"/>
    <Define key="tsharkBin" value="/usr/bin/tshark"/>
  </Linux>

  <OSX platform="osx">
    <!-- This can't run on OS X because it uses the RawEther publisher. -->
  </OSX>

  <Windows platform="windows">
    <!-- This can't run on windows because it uses the RawEther publisher. -->
  </Windows>
</PitDefines>
