<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Define key="SourcePort" value="161"/>
    <Define key="TargetPort"    value="161"/>
    <Define key="TargetIPv4"  value="10.0.1.23"/>
    <Define key="SourceIPv4" value="127.0.0.1"/>
    <Define key="CommString"  value="public"/>
    <Define key="LoggerPath"  value="./logs/snmp/"/>
    <Define key="Strategy"    value="Random"/>
		<Define key="PitLibraryPath"        value="."/>
  </All>

  <Linux platform="linux">
    <Define key="Interface" value="eth0"/>
    <Define key="Program" value="snmpwalk"/>
    <Define key="Agent" value="Linux"/>
  </Linux>

  <OSX platform="osx">
    <Define key="Interface" value="en0"/>
    <Define key="Program" value="snmpwalk"/>
    <Define key="Agent" value="OSX"/>
  </OSX>

  <Windows platform="windows">
    <Define key="Interface" value="Local Area Connection"/>
    <Define key="Program" value="C:\SnmpWalk.exe"/>
    <Define key="Agent" value="Windows"/>
  </Windows>
</PitDefines>
