<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Range key="SourcePort" name="name" description="" min="0" max="65535" value="161"/>
    <Range key="TargetPort" name="name" description="" min="0" max="65535" value="161"/>
    <Ipv4 key="TargetIPv4" name="Target IP Address" description="" value="192.168.222.149"/>
    <String key="CommString" name="name" description="" value="public"/>
    <String key="LoggerPath" name="Logger Path" description="" value="./logs/snmp/"/>
    <Strategy key="Strategy" name="name" description="" value="Random"/>
		<String key="PitLibraryPath" name="Pit Library Path" description=""  value="."/>
  </All>

  <Linux>
    <Iface key="Interface" name="name" description="" value="eth0"/>
  </Linux>

  <OSX>
    <Iface key="Interface" name="name" description="" value="en0"/>
  </OSX>

  <Windows>
    <Iface key="Interface" name="name" description="" value="Local Area Connection"/>
  </Windows>
</PitDefines>
