<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Define key="RemoteAgentIP" value="10.0.1.40"/>
    <Define key="TargetIPv4" value="127.0.0.1"/>
    <Define key="LoggerPath" value="logs/tcp/"/>
    <Define key="SourceIPv4" value="127.0.0.1"/>
    <Define key="Strategy"  value="Random"/>
    <Define key="TargetPort" value="0"/>
    <Define key="SourcePort" value="52080"/>
		<Define key="PitLibraryPath" value="."/>
		<Define key="TargetIPBytes" value="C0A89280"/>
		<Define key="SourceIPBytes" value="C0A89201"/>
  </All>

  <Linux platform="linux">
    <Define key="Interface" value="eth0"/>
    <Define key="tsharkInterface" value="eth0"/>
    <Define key="tsharkBin" value="/usr/bin/tshark"/>
  </Linux>

  <OSX platform="osx">
    <Define key="Interface" value="en0"/>
    <Define key="tsharkInterface" value="en0"/>
    <Define key="tsharkBin" value="/usr/local/bin/tshark"/> <!-- fix depending on actual install location -->
  </OSX>

  <Windows platform="windows">
    <Define key="Interface" value="Local Area Connection"/>
    <Define key="tsharkInterface" value="2"/>
    <Define key="tsharkBin" value="C:\Program Files\Wireshark\tshark.exe"/>
  </Windows>
</PitDefines>
