<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <Windows>
    <String key="Arguments" name="name" description="" value="telnet://##SourceIPv4##:##SourcePort##"/>
    <Iface key="Interface" name="name" description="" value="Local Area Connection"/>
    <String key="Program" name="Program" description="" value="..\..\..\..\Downloads\putty.exe"/>
    <Ipv4 key="SourceIPv4" name="Source IP Address" description="" value="10.0.1.82"/>
  </Windows>

  <Linux>
    <String key="Arguments" name="name" description="" value="##SourceIPv4## ##SourcePort##"/>
    <Iface key="Interface" name="name" description="" value="eth0"/>
    <String key="Program" name="Program" description="" value="telnet"/>
    <Ipv4 key="SourceIPv4" name="Source IP Address" description="" value="10.0.1.92"/>
  </Linux>

  <OSX>
    <String key="Arguments" name="name" description="" value="##SourceIPv4## ##SourcePort##"/>
    <Iface key="Interface" name="name" description="" value="en0"/>
    <String key="Program" name="Program" description="" value="telnet"/>
    <Ipv4 key="SourceIPv4" name="Source IP Address" description="" value="10.0.1.94"/>
  </OSX>

  <All>
    <Range key="TargetPort" name="name" description="" min="0" max="65535" value="23"/>
    <Range key="SourcePort" name="name" description="" min="0" max="65535" value="31337"/>
    <Ipv4 key="TargetIPv4" name="Target IP Address" description="" value="10.0.1.23"/>
    <String key="LoggerPath" name="Logger Path" description="" value="./logs/telnet/"/>
    <Strategy key="Strategy" name="name" description="" value="Random"/>
    <String key="PitLibraryPath" name="Pit Library Path" description="" value="."/>
  </All>

</PitDefines>
