<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Define key="RemoteAgentIP" value="10.0.1.40"/>
    <Define key="TargetIPv6" value="::1"/>
    <Define key="LoggerPath" value="logs/udpV6/"/>
    <Define key="SourceIPv6" value="::1"/>
    <Define key="SourcePort" value="12345"/>
		<Define key="TargetPort" value="12345"/>
		<Define key="Strategy"  value="Sequential"/>
    <Define key="PitLibraryPath" value="."/>
  </All>
  
  <Linux platform="linux">
    <Define key="Interface" value="eth0"/>
  </Linux>
  
  <OSX platform="osx">
    <Define key="Interface" value="en0"/>
  </OSX>
  
  <Windows platform="windows">
    <Define key="Interface" value="Local Area Connection"/>
  </Windows>
</PitDefines>
