<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Ipv4 key="RemoteAgentIP" name="Remote Agent IP Address" description="" value="10.0.1.40"/>
    <Ipv4 key="TargetIPv4" name="Target IP Address" description="" value="127.0.0.1"/>
    <String key="LoggerPath" name="Logger Path" description="" value="logs/udp/"/>
    <Ipv4 key="SourceIPv4" name="Source IP Address" description="" value="127.0.0.1"/>
		<Range key="SourcePort" name="name" description="" min="0" max="65535" value="12345"/>
		<Range key="TargetPort" name="name" description="" min="0" max="65535" value="12345"/>
    <Strategy key="Strategy" name="name" description=""  value="Random"/>
    <String key="PitLibraryPath" name="Pit Library Path" description="" value="."/>
  </All>
  
  <Linux>
    <Iface key="Interface" name="name" description="" value="eth0"/>
  </Linux>
  
  <OSX>
    <Iface key="Interface" name="name" description="" value="en0"/>
  </OSX>
  
  <Windows>
    <Iface key="Interface" name="name" description="" value="Local Area Connection"/>
  </Windows>
</PitDefines>
