<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <String key="LoggerPath" name="Logger Path" description=""  value="logs/vlan/"/>
    <Hwaddr key="SourceMAC" name="Source MAC Address" description="" value="000000000000" />
    <Hwaddr key="TargetMAC" name="Target MAC Address" description="" value="000000000000"/>
    <String key="TestType" name="Target MAC Address" description="" value="IPv4UDPv4InVlan"/>
    <Strategy key="Strategy" name="name" description=""  value="Random"/>
		<Ipv4 key="TargetIPv4" name="Target IP Address" description="" value="127.0.0.1"/>
		<Ipv4 key="SourceIPv4" name="Source IP Address" description="" value="127.0.0.1"/>
		<Ipv6 key="TargetIPv6" name="Target IP Address" description="" value="::1"/>
		<Ipv6 key="SourceIPv6" name="Source IP Address" description="" value="::1"/>
    <Range key="SourcePort" name="name" description="" min="0" max="65535" value="1234"/>
    <Range key="TargetPort" name="name" description="" min="0" max="65535" value="1234"/>
    <Range key="Tag" name="name" description="" min="0" max="255" value="1"/>
		<String key="PitLibraryPath" name="Pit Library Path" description="" value="."/>
  </All>

  <Linux>
    <Iface key="Interface" name="name" description="" value="eth0"/>
  </Linux>

  <OSX>
    <Iface key="Interface" name="name" description="" value="en0"/>
  </OSX>

  <Windows>
    <!-- This can't run on windows because it uses the RawEther publisher. -->
  </Windows>
</PitDefines>
