<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <!-- <String key="InnerSourceMAC" value="10.6.66.1"/> -->
    <!-- <String key="InnerSourceIP" value="0a064201"/> -->
    <!-- <String key="InnerDestMAC"   value="000000000000"/> -->
    <!-- <String key="InnterTargetIP" value="10.6.66.70"/> -->
    <Hwaddr key="OuterSourceMAC" name="name" description="" value="5254005335d3"/>
    <Ipv4 key="OuterSourceIPv4" name="name" description="" value="10.6.66.51" />
    <Hwaddr key="OuterTargetMAC" name="name" description=""  value="000000000000"/>
    <Ipv4 key="OuterTargetIPv4" name="name" description="" value="10.6.66.52"/>
    <String key="LoggerPath" name="Logger Path" description=""  value="logs/vxlan/"/>
    <Strategy key="Strategy" name="name" description=""  value="Random"/>
    <Hwaddr key="SourceMAC" name="Source MAC Address" description="" value="6805ca0589fe" />
    <Hwaddr key="TargetMAC" name="Target MAC Address" description="" value="2233ca00ff0f"/>
    <Ipv4 key="TargetIPv4" name="Target IP Address" description="" value="127.0.0.1"/>
    <Ipv4 key="SourceIPv4" name="Source IP Address" description="" value="127.0.0.1"/>
    <Ipv6 key="TargetIPv6" name="Target IP Address" description="" value="::1"/>
    <Ipv6 key="SourceIPv6" name="Source IP Address" description="" value="::1"/>
    <Range key="SourcePort" name="name" description="" min="0" max="65535" value="1234"/>
    <Range key="TargetPort" name="name" description="" min="0" max="65535" value="1234"/>
    <Range key="Tag" name="name" description="" min="0" max="255" value="1"/>
    <String key="PitLibraryPath" name="Pit Library Path" description="" value="."/>
  </All>

  <Linux>
    <Iface key="Interface" name="name" description="" value="eth0"/>
  </Linux>

  <OSX>
     <!-- This can't run on OS X because it uses the RawEther publisher. -->
  </OSX>

  <Windows>
    <!-- This can't run on windows because it uses the RawEther publisher. -->
  </Windows>
</PitDefines>
