<?xml version="1.0" encoding="utf-8"?>
<PitDefines>

	<All>
		<Define key="Seed" value="sample.mp3"/>
		<Define key="Strategy"  value="Sequential"/>
		<Define key="LoggerPath"  value="./logs/mp3/"/>
		<Define key="Path" value="."/>
	</All>

	<Linux platform="linux">
		<Define key="Agent" value="LinuxAgent"/>
		<Define key="Target" value="file" />
	</Linux>

	<OSX platform="osx">
		<Define key="Agent"  value="OsxAgent"/>
		<Define key="Target" value="/Applications/QuickTime Player.app/Contents/MacOS/QuickTime Player" />
	</OSX>

	<Windows platform="windows">
		<Define key="Agent" value="WinAgent"/>
		<Define key="Target" value="C:\Program Files (x86)\VideoLAN\VLC\vlc.exe" />
	</Windows>

</PitDefines>
