<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
	<All>
		<Define key="Seed" name="" description="" type="" value="*.bmp"/>
		<Define key="Strategy"  name="" description="" type="" value="Random"/>
		<Define key="LoggerPath"  name="" description="" type="" value="/logs/bmp/"/>
		<Define key="SamplePath" name="" description="" type="" value="##PitLibraryPath##/_Common/Samples/Image"/>
	</All>

	<Linux platform="linux">
		<Define key="Target" name="" description="" type="" value="feh" />
	</Linux>

	<OSX platform="osx">
		<Define key="Target" name="" description="" type="" value="/Applications/Preview.app/Contents/MacOS/Preview" />
	</OSX>

	<Windows platform="windows">
		<Define key="Target" name="" description="" type="" value="C:\\windows\\system32\\mspaint.exe" />
	</Windows>
</PitDefines>
