<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
	<All>
		<Define key="Seed" value="*.jp2"/>
		<Define key="Strategy"  value="Random"/>
		<Define key="LoggerPath"  value="./logs/JPEG2000/"/>
		<Define key="SamplePath" value="./_Common/Samples/Image" />
		<Define key="PitLibraryPath" value="."/>
	</All>

	<Linux platform="linux">
		<Define key="Target" value="feh" />
	</Linux>

	<OSX platform="osx">
		<Define key="Target" value="/Applications/Preview.app/Contents/MacOS/Preview" />
	</OSX>

	<Windows platform="windows">
		<Define key="Target" value="C:\\Program Files\\GIMP 2\\bin\\gimp-2.8.exe" />
	</Windows>
</PitDefines>
