<?xml version="1.0" encoding="utf-8"?>
<PitDefines>

	<All>
		<String key="Seed" name="name" description="" value="*.PNG"/>
		<Strategy key="Strategy" name="name" description=""  value="Random"/>
		<String key="LoggerPath" name="Logger Path" description=""  value="./logs/png/"/>
		<String key="SamplePath" name="name" description="" value="./_Common/Samples/Image"/>
		<String key="PitLibraryPath" name="Pit Library Path" description="" value="."/>
	</All>

	<Linux>
		<String key="Target" name="name" description="" value="feh" />
	</Linux>

	<OSX>
		<String key="Target" name="name" description="" value="/Applications/Preview.app/Contents/MacOS/Preview" />
	</OSX>

	<Windows>
		<String key="Target" name="name" description="" value="C:\\Program Files (x86)\\VideoLAN\\VLC\\vlc.exe" />
	</Windows>

</PitDefines>
