<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
		<String key="Seed" name="name" description="" value="avi_divx_sample*.avi"/>
		<Strategy key="Strategy" name="name" description=""  value="Random"/>
		<String key="LoggerPath" name="Logger Path" description=""  value="./logs/avi_divx/"/>
		<String key="PitLibraryPath" name="Pit Library Path" description="" value="."/>
		<String key="SamplePath" name="name" description="" value="./_Common/Samples/Video"/>
	</All>

	<Linux>
		<String key="Target" name="name" description="" value="vlc" />
	</Linux>

	<OSX>
		<String key="Target" name="name" description="" value="/Applications/VLC.app/Contents/MacOS/VLC" />
	</OSX>

	<Windows>
		<String key="Target" name="name" description="" value="C:\\Program Files (x86)\\VideoLAN\\VLC\\vlc.exe" />
	</Windows>
</PitDefines>
