<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
		<String key="Seed" value="avi_divx_sample*.avi" name="Seed File" description="The name of the sample file to use when fuzzing." />
		<Strategy key="Strategy" value="Random" name="Mutation Strategy" description="The mutation strategy to use when fuzzing." />
		<String key="LoggerPath" value="./logs/avi_divx/" name="Logger Path" description="The directory where Peach will save the log produced when fuzzing." />
		<String key="SamplePath" value="./_Common/Samples/Video" name="Sample Path" description="The directory containing the samples to use when fuzzing." />
		<String key="PitLibraryPath" value="." name="Pit Library Path" description="The path to the root of the pit library." />
	</All>

	<Linux>
		<String key="Target" value="vlc" name="Target Name" description="The path to the target application that will be fuzzed." />
	</Linux>

	<OSX>
		<String key="Target" value="/Applications/VLC.app/Contents/MacOS/VLC" name="Target Name" description="The path to the target application that will be fuzzed." />
	</OSX>

	<Windows>
		<String key="Target" value="C:\\Program Files (x86)\\VideoLAN\\VLC\\vlc.exe" name="Target Name" description="The path to the target application that will be fuzzed." />
	</Windows>
</PitDefines>
