<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
		<Define key="Seed" value="avi_divx_sample*.avi"/>
		<Define key="Strategy"  value="Random"/>
		<Define key="LoggerPath"  value="./logs/avi_divx/"/>
		<Define key="PitLibraryPath" value="."/>
		<Define key="SamplePath" value="./_Common/Samples/Video"/>
	</All>

	<Linux platform="linux">
		<Define key="Agent" value="Linux"/>
		<Define key="Target" value="vlc" />
	</Linux>
	<OSX platform="osx">
		<Define key="Agent" value="OSX"/>
		<Define key="Target" value="/Applications/VLC.app/Contents/MacOS/VLC" />
	</OSX>

	<Windows platform="windows">
		<Define key="Agent" value="Win"/>
		<Define key="Target" value="C:\\Program Files (x86)\\VideoLAN\\VLC\\vlc.exe" />
	</Windows>
</PitDefines>
