<p>
	When all of the sections of the configuration are complete,
	you can validate the fuzzing definition for correctness.
</p>
<p>
	This section performs a test that runs a single test case of the Pit,
	outputs the results of the test, and issues log messages as appropriate.
	You can fine tune a configuration or address any problems that arise with
	a configuration by re-visiting the appropriate section of the configuration,
	adjusting the settings that you want to edit, and re-run the test.
</p>

<dl class="dl-horizontal">
	<dt ng-repeat-start="item in vm.Tracks">
		{{item.name}}
	</dt>
	<dd ng-repeat-end>
		<span class="label arrowed"
					ng-class="vm.TrackStatus(item)">
			{{vm.TrackMessage(item)}}
			<a ui-sref="{{item.start}}({track: item.id})"
				 ng-show="vm.TrackLink(item)"
				 style="color: white">
				<b>
					{{item.link}}
				</b>
			</a>
		</span>
	</dd>
</dl>

<div class="wizard-actions">
	<span ng-show="vm.ShowTestPass">
		Testing passed, press Continue
	</span>
	<span ng-show="vm.ShowTestFail">
		The Pit validation test failed. Please correct the errors and return
		to this page to validate the updated Pit configuration.
	</span>
	<button class="btn btn-success btn-sm"
					ng-click="vm.OnNextTrack()"
					ng-disabled="!vm.CanContinue">
		<i class="fa fa-arrow-right"></i>
		Continue &nbsp;
	</button>
	<button class="btn btn-warning btn-sm"
					ng-click="vm.OnBeginTest()"
					ng-disabled="!vm.CanWizardBeginTest">
		<i class="fa fa-bolt"></i>
		Begin Test
	</button>
</div>
<peach:test>
</peach:test>
