<form name="form">
	<div class="panel panel-default">
		<div class="panel-heading">
			<span>
				<button type="button"
								class="btn btn-sm btn-default"
								ng-click="vm.Back()"
								ng-disabled="!vm.CanMoveBack">
					&larr; {{BackPrompt}}
				</button>
			</span>
			<span class="pull-right">
				<button type="submit"
								class="btn btn-sm btn-success"
								ng-click="vm.Next()"
								ng-disabled="!vm.CanMoveNext">
					{{NextPrompt}} &rarr;
				</button>
			</span>
		</div>
		<div class="panel-body">
			<ul class="wizard-steps">
				<li ng-class="{active: Step == 1, complete: Step > 1}">
					<span class="step">1</span>
					<span class="title">Introduction</span>
				</li>
				<li ng-class="{active: Step == 2, complete: Step > 2}">
					<span class="step">2</span>
					<span class="title">Questions &amp; Answers</span>
				</li>
				<li ng-class="{active: Step == 3}">
					<span class="step">3</span>
					<span class="title">Review</span>
				</li>
			</ul>
			<hr />
			<div ui-view>
			</div>
		</div>
	</div>
</form>
