<div class="alert alert-warning"
		 ng-show="vm.ShowLimited">
	<strong>Note:</strong>
	The current Pit was specified from the command line,
	which limits activities to viewing faults that occur.
	You can stop the current job by stopping the Peach process responsible for this job.
</div>

<div class="alert alert-info"
		 ng-class="vm.StatusClass"
		 ng-show="vm.ShowStatus"
		 ng-switch="vm.JobStatus">
	<span ng-switch-when="startPending">
		Peach is starting...
	</span>
	<span ng-switch-when="running"
				ng-switch="vm.JobMode">
		<span ng-switch-when="fuzzing">
			Peach is currently fuzzing...
		</span>
		<span ng-switch-when="reproducing">
			Fault detected, attempting to reproduce.
		</span>
		<span ng-switch-when="searching">
			Fault detected.
			Peach is searching test cases leading to the fault.
			This action could take a while to complete.
		</span>
	</span>
	<span ng-switch-when="pausePending">
		Peach is pausing...
	</span>
	<span ng-switch-when="paused">
		Peach is currently paused.
	</span>
	<span ng-switch-when="continuePending">
		Peach is continuing...
	</span>
	<span ng-switch-when="stopPending">
		Peach is stopping...
	</span>
	<span ng-switch-when="stopped">
		<span ng-if="vm.Job.result">
			{{vm.Job.result}}
		</span>
		<span ng-if="!vm.Job.result">
			This job has completed.
			<a ng-if="vm.Job.reportUrl"
				 href="{{vm.Job.reportUrl}}">Click here to view the final report</a>
		</span>
	</span>
	<span ng-switch-when="actionPending">
		Peach is waiting for an action to complete...
	</span>
</div>

<div class="row">
	<div class="col-md-2">
	</div>

	<div class="col-md-8 infobox-container">
		<div class="infobox infobox-blue">
			<div class="infobox-data">
				<span class="infobox-data-number">
					{{(vm.Job.startDate | date:'M/d/yy h:mma') || '---'}}
				</span>
				<div class="infobox-content">
					Start Time
				</div>
			</div>
		</div>

		<div class="infobox infobox-blue">
			<div class="infobox-data">
				<span class="infobox-data-number">
					{{vm.ValueOr(vm.RunningTime, '---')}}
				</span>
				<div class="infobox-content">
					Running Time
				</div>
			</div>

		</div>

		<div class="infobox infobox-blue">
			<div class="infobox-data">
				<span class="infobox-data-number">
					{{vm.ValueOr(vm.Job.speed, '---')}}
				</span>
				<div class="infobox-content">
					Iterations/Hour
				</div>
			</div>
		</div>

		<div class="infobox infobox-blue">
			<div class="infobox-data">
				<span class="infobox-data-number">
					{{vm.ValueOr(vm.Job.seed, '---')}}
				</span>
				<div class="infobox-content">
					Seed
				</div>
			</div>
		</div>

		<div class="infobox infobox-blue">
			<div class="infobox-data">
				<span class="infobox-data-number">
					{{vm.ValueOr(vm.Job.iterationCount, '---')}}
				</span>
				<div class="infobox-content">
					Current Iteration
				</div>
			</div>
		</div>

		<div class="infobox infobox-red">
			<div class="infobox-data">
				<span class="infobox-data-number">
					{{vm.ValueOr(vm.Job.faultCount, '---')}}
				</span>
				<div class="infobox-content">
					Total Faults
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-2">
	</div>
</div>

<div class="space-6"></div>

<div class="row text-center"
		 ng-show="vm.ShowCommands">
	<button class="btn btn-lg btn-success"
					ng-click="vm.Continue()"
					ng-class="{disabled: !vm.CanContinue}">
		START
	</button>

	<button class="btn btn-lg btn-default"
					ng-click="vm.Pause()"
					ng-class="{disabled: !vm.CanPause}">
		PAUSE
	</button>

	<button class="btn btn-lg btn-danger"
					ng-click="vm.Stop()"
					ng-class="{disabled: !vm.CanStop}">
		STOP
	</button>

</div>

<hr />

<h4>Recent Faults</h4>
<peach-faults limit="10">
</peach-faults>
