<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Define key="TargetIPv6" value="::1"/>
    <Define key="SourceIPv6" value="::1"/>
    <Define key="LoggerPath" value="logs/IPv6/"/>
    <Define key="SourceMAC" value="000c29ef2a1b" />
    <Define key="TargetMAC" value="000c29ef2a1b" />
    <Define key="Strategy"  value="Sequential"/>

    <!--Used for UDPv6-->
    <Define key="SourcePort" value="12345"/>
    <Define key="TargetPort" value="12345"/>

    <Define key="Path" value="."/>
  </All>
  
  <Linux platform="linux">
    <Define key="Interface" value="lo"/>
    <Define key="tsharkInterface" value="lo"/>
    <Define key="tsharkBin" value="/usr/bin/tshark"/>
  </Linux>
  
  <OSX platform="osx">
    <Define key="Interface" value="em0"/>
  </OSX>
  
  <Windows platform="windows">
    <!-- This can't run on windows because it uses the RawEther publisher. -->
  </Windows>
</PitDefines>
