<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Define key="SourceMAC"     value="5254005335d3"/>
    <Define key="TargetMAC"     value="000000000000"/>
    <Define key="LoggerPath"    value="./logs/lacp/"/>
    <Define key="ActorPort"     value="0012"/>
    <Define key="PartnerPort"   value="0000"/>
    <Define key="RemoteAgentIP" value="10.0.1.40"/>
    <Define key="Strategy"      value="Sequential"/>
    <Define key="Path"          value="."/>
  </All>

  <Linux platform="linux">
    <Define key="Interface"       value="eth0"/>
    <Define key="tsharkInterface" value="eth0"/>
    <Define key="tsharkBin"       value="/usr/bin/tshark"/>
  </Linux>

  <OSX platform="osx">
    <!-- This can't run on osx because it uses the RawEther publisher. -->
  </OSX>

  <Windows platform="windows">
    <!-- This can't run on windows because it uses the RawEther publisher. -->
  </Windows>
</PitDefines>
