<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
	<All>
		<Define key="LoggerPath"  value="./logs/ldap"/> 
		<Define key="Strategy"  value="Random"/>
		<Define key="TargetIP" value="192.168.146.128"/>
		<Define key="Port" value="389"/>
		<Define key="Password" value="password"/>
		<Define key="UserName" value="cn=admin,dc=example,dc=com"/>
		<Define key="Path" value="."/>
		<Define key="SourceIP" value="192.168.146.1"/>
	</All>
	
	<Linux platform="linux">
    <Define key="Interface" value="eth0"/>
  </Linux>
  <OSX platform="osx">
    <Define key="Interface" value="en0"/>
  </OSX>
  <Windows platform="windows">
    <Define key="Interface" value="Local Area Connection"/>
  </Windows>
</PitDefines>
