<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Define key="LoggerPath"  value="./logs/ldap"/>
    <Define key="Strategy"  value="Random"/>
    <Define key="TargetIPv4" value="127.0.0.1"/>
    <Define key="SourceIPv4" value="127.0.0.1"/>
    <Define key="TargetPort" value="389"/>
    <Define key="Password" value="password"/>
    <Define key="UserName" value="cn=admin,dc=example,dc=com"/>
    <Define key="Path" value="."/>
  </All>

  <Linux platform="linux">
    <Define key="Interface" value="eth0"/>
  </Linux>

  <OSX platform="osx">
   <Define key="Interface" value="en0"/>
  </OSX>

  <Windows platform="windows">
    <Define key="Interface" value="Local Area Connection"/>
  </Windows>
</PitDefines>
