<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Define key="TargetIPv4" value="192.168.222.130"/>
    <Define key="TargetPort" value="502"/>

    <!-- Modbus over Serial Defines -->
    <Define key="SerialPort" value="COM1"/>
    <Define key="Baudrate" value="57600"/>
    <Define key="Parity" value="None"/>
    <Define key="DataBits" value="8"/>
    <Define key="StopBits" value="One"/>
    <Define key="Handshake" value="XOnXOff"/>

    <!-- General Configurations -->
    <Define key="Timeout" value="5000"/>
    <Define key="LoggerPath" value="logs/modbus/"/>
    <Define key="Strategy" value="Sequential"/>
    <Define key="Path" value="."/>
  </All>
</PitDefines>
