<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Define key="SourcePort" value="123"/>
    <Define key="TargetPort" value="123"/>
    <Define key="TargetIPv4" value="127.0.0.1"/>
    <Define key="LoggerPath" value="./logs/ntp/"/>
    <Define key="Strategy" value="Sequential"/>
    <Define key="Path" value="."/>
  </All>
</PitDefines>
