<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Define key="RemoteAgentIP" value="127.0.0.1"/>
    <Define key="TargetIPv4" value="127.0.0.1"/>
    <Define key="LoggerPath" value="logs/ripng/"/>
    <Define key="Strategy"  value="Sequential"/>
    <Define key="IPv4"  value="192.168.0.13"/>
    <Define key="Subnetmask"  value="255.255.255.0"/>
    <Define key="NextHop"  value="192.168.0.2"/>
    <Define key="TargetPort"  value="521"/>


    <Define key="Path" value="."/>
  </All>

  <Linux platform="linux">
    <Define key="Interface" value="eth0"/>
    <Define key="RipD" value="/usr/lib/quagga/ripd"/>
    <Define key="RipDArguments" value="-A ::1 -P 2603 -u quagga -g quagga --retain"/>

  </Linux>
  <OSX platform="osx">
    <Define key="Interface" value="em0"/>
    <Define key="tsharkInterface" value="em0"/>
    <Define key="tsharkBin" value="/usr/local/bin/tshark"/> <!-- fix depending on actual install location -->
  </OSX>
  <Windows platform="windows">
    <!-- This can't run on windows anyway because it uses the RawEther publisher. -->
    <!-- Platform independance is added as an example. -->
    <Define key="Interface" value="Local Area Connection"/>
    <Define key="tsharkInterface" value="2"/>
    <Define key="tsharkBin" value="C:\Program Files\Wireshark\tshark.exe"/>
  </Windows>
</PitDefines>
