<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Define key="SnmpSrcPort" value="161"/>
    <Define key="SnmpPort"    value="161"/>
    <Define key="SnmpHost"    value="10.0.1.23"/>
    <Define key="CommString"  value="public"/>
    <Define key="LoggerPath"  value="./logs/snmp/"/>
    <Define key="Strategy"    value="Random"/>
		<Define key="Path"        value="."/>
  </All>
</PitDefines>
