<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
    <All>	
        <Define key="TargetPort" value="23"/>
        <Define key="HostPort" value="31337"/>
        <Define key="TargetIPv4" value="127.0.0.1"/>
        <Define key="LocalIPv4" value="127.0.0.1"/>
        <Define key="LoggerPath" value="./logs/telnet/"/>
        <Define key="Strategy" value="Sequential"/>
        <Define key="Path" value="."/>
    </All>

    <Linux platform="linux">
        <Define key="Interface" value="eth0"/>
        <Define key="Program" value="telnet"/>
        <Define key="Agent" value="Linux"/>
    </Linux>
   
    <OSX platform="osx">
        <Define key="Interface" value="en0"/>
        <Define key="Program" value="telnet"/>
        <Define key="Agent" value="OSX"/>
    </OSX>
   
    <Windows platform="windows">
        <Define key="Interface" value="Local Area Connection"/>
        <Define key="Program" value="putty.exe"/>
        <Define key="Agent" value="Windows"/>
    </Windows>
</PitDefines>
