<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="peachfarm.admin" type="PeachFarm.Admin.Configuration.AdminSection, PeachFarm.Admin" allowLocation="true" allowDefinition="Everywhere"/>
	</configSections>
	<peachfarm.admin>
		<Controller ipAddress="10.0.1.39"/>
		<RabbitMq hostName="10.0.1.39" port="-1" userName="guest" password="guest" useSSL="false"/>
		<MongoDb connectionString="mongodb://10.0.1.39/?safe=true"/>
	</peachfarm.admin>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior>
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<services>
			<service name="PeachFarm.Admin.JsonRest">
				<endpoint address="http://localhost:8732/PeachFarmAdminRest" binding="webHttpBinding" contract="PeachFarm.Admin.IJsonRest">
				</endpoint>
			</service>
		</services>
	</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
