<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="peachfarm.admin" type="PeachFarm.Admin.Configuration.AdminSection, PeachFarm.Admin" allowLocation="true" allowDefinition="Everywhere" />
	</configSections>
	<peachfarm.admin>
		<Controller ipAddress="10.0.1.23" />
		<RabbitMq hostName="10.0.1.39" port="-1" userName="guest" password="guest" useSSL="false" />
		<MongoDb connectionString="mongodb://10.0.1.39/?safe=true" />
	</peachfarm.admin>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
