<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="peachfarm.admin" type="PeachFarm.Admin.Configuration.AdminSection, PeachFarm.Admin" allowLocation="true" allowDefinition="Everywhere" />
	</configSections>
	<peachfarm.admin>
		<Controller ipAddress="10.0.1.39" />
		<RabbitMq hostName="10.0.1.39" port="-1" userName="guest" password="guest" useSSL="false" />
		<MongoDb connectionString="mongodb://10.0.1.39/?safe=true" />
	</peachfarm.admin>
</configuration>