<div class="page-content">
	<div class="page-header">
		<h1>
			Dashboard
		</h1>
	</div>

	<div class="row">
		<div class="col-xs-12">

			<div class="row">
				<div class="col-xs-12">
					<div class="space-6"></div>

					<div class="alert alert-warning alert-dismissable"
							 ng-show="vm.ShowSelectPit">
						<button type="button"
										class="close"
										data-dismiss="alert">
							<i class="icon-remove"></i>
						</button>
						<strong>Warning!</strong>
<!-- RAB12/17/14. Select a pit before continuing. -->                        
						A Pit must be selected before continuing.
					</div>
					<div class="alert alert-warning alert-dismissable"
							 ng-show="vm.ShowNeedsConfig">
						<button type="button"
										class="close"
										data-dismiss="alert">
							<i class="icon-remove"></i>
						</button>
						<strong>Warning!</strong>
<!-- RAB 12/17/14. Before starting a job, the pit must be configured for 
                   the environment. -->
                        Pit must be configured before starting a Job.
						<a href="#/quickstart/intro">Go to Pit Configuration now.</a>
					</div>
					<div class="alert alert-warning alert-dismissable"
							 ng-show="vm.ShowLimited">
						<button type="button"
										class="close"
										data-dismiss="alert">
							<i class="icon-remove"></i>
						</button>
						<strong>Note:</strong>
<!-- RAB 12/17/14. The current Pit was specified from the command line, which 
                   limits activities to viewing faults that occur.

                   Full functionality is reserved for Pits included in the Pit library.

                   You can stop the current job by entering the window with the command line and by pressing CTRL+C, or by killing the process. Or, perhaps, let the job continue to completion.
-->
                        
                        You are currently working with a Pit chosen from the command line.
						You will be limited to viewing Faults only.
						To stop the currently running job, switch to the terminal window and close it or stop the process.
					</div>
					<div class="alert alert-success alert-dismissable"
							 ng-show="vm.CanStart">
						<button type="button"
										class="close"
										data-dismiss="alert">
							<i class="icon-remove"></i>
						</button>
<!-- RAB 12/17/14. The Pit is configured and ready for use. Click the START button below to begin fuzzing.-->
                        Your Pit is configured. Press the START button below to start a fuzzing job.
					</div>
					<div class="alert alert-info"
							 ng-show="vm.ShowReproducing">
						Fault detected, attempting to reproduce.
					</div>
					<div class="alert alert-info"
							 ng-show="vm.ShowSearching">
<!-- RAB 12/17/14. Fault detected. Peach is searching test cases leading to the fault. This action could take a while to complete. 
  -->
                        Fault detected, searching test cases leading to fault. This could take a while.
					</div>

					<div class="col-sm-7 infobox-container">
						<div class="infobox infobox-blue  ">
							<div class="infobox-data">
								<span class="infobox-data-number">
									{{(vm.Job.startDate | date:'M/d/yy h:mma') || ' '}}
								</span>
								<div class="infobox-content">
									Started
								</div>
							</div>
						</div>

						<div class="infobox infobox-blue  ">
							<div class="infobox-data">
								<span class="infobox-data-number">
									{{vm.RunningTime || ' '}}
								</span>
								<div class="infobox-content">
									Running Time
								</div>
							</div>

						</div>

						<div class="infobox infobox-blue  ">
							<div class="infobox-data">
								<span class="infobox-data-number">
									{{vm.Job.speed || ' '}}
								</span>
								<div class="infobox-content">
									Iterations&#47;Hour
								</div>
							</div>
						</div>

						<div class="infobox infobox-blue  ">
							<div class="infobox-data">
								<span class="infobox-data-number">
									{{vm.Job.seed || ' '}}
								</span>
								<div class="infobox-content">
									Seed
								</div>
							</div>
						</div>

						<div class="infobox infobox-blue  ">
							<div class="infobox-data">
								<span class="infobox-data-number">
									{{vm.Job.iterationCount || ' '}}
								</span>
								<div class="infobox-content">
									Total Iterations
								</div>
							</div>
						</div>

						<div class="infobox infobox-red  ">
							<div class="infobox-data">
								<span class="infobox-data-number">
									{{vm.Job.faultCount}}
								</span>
								<div class="infobox-content">
									Total Faults
								</div>
							</div>
						</div>

						<div class="space-6"></div>

					</div>
					<div class="vspace-sm"></div>

				</div>
			</div>

			<div class="row">
				<div class="col-sm-7" 
						 style="text-align: center">
					<div class="btn-group">
						<button class="btn btn-lg btn-primary" 
						        ng-click="vm.Start()"
										ng-class="{disabled: !vm.CanStart}">
							START
						</button>
						<button class="btn btn-lg btn-primary dropdown-toggle" 
						        data-toggle="dropdown" 
						        ng-class="{disabled: !vm.CanStart}">
							<i class="icon-caret-down"></i>
						</button>
						<ul class="dropdown-menu dropdown-success">
							<li>
								<a ng-click="vm.Start()">
									Start Now
								</a>
							</li>
							<li>
								<a ng-click="vm.StartWithOptions()">
									Start with options
								</a>
							</li>
						</ul>
					</div>

					<button class="btn btn-lg btn-danger" 
					        ng-click="vm.Stop()"
					        ng-class="{disabled: !vm.CanStop}">
						STOP
					</button>

					<button class="btn btn-lg btn-default"
					        ng-click="vm.Pause()"
									ng-class="{disabled: !vm.CanPause}">
						PAUSE
					</button>
				</div>
			</div>

			<hr />

			<h4>Recent Faults</h4>
			<table st-table="vm.Faults"
			       class="table table-striped table-bordered table-hover peach-table">
				<thead>
					<tr>
						<th>#</th>
						<th>When</th>
						<th>Monitor</th>
						<th>Risk</th>
						<th>Major Hash</th>
						<th>Minor Hash</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in vm.Faults">
						<td>{{row.iteration}}</td>
						<td>{{row.timeStamp | date:'M/d/yy h:mm a'}}</td>
						<td>{{row.source}}</td>
						<td>{{row.exploitability}}</td>
						<td>{{row.majorHash}}</td>
						<td>{{row.minorHash}}</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>
