<div ng-repeat="lib in vm.Libraries">
	<div ng-show="$index" class="page-header">
		<h1>{{lib.Name}}</h1>
	</div>
	<accordion close-others="false">
		<accordion-group ng-repeat="cat in lib.Categories"
										 heading="{{cat.Name}}"
										 is-open="true">
			<ul class="list-inline library">
				<li ng-repeat="entry in cat.Pits">
					<a href=""
						 tooltip="{{entry.Pit.description}}"
						 ng-click="vm.OnSelectPit(entry)">{{entry.Pit.name}}</a>
				</li>
			</ul>
		</accordion-group>
	</accordion>
</div>

