<p>
	Welcome to the Peach Pit library. This page consists of two main parts:
</p>

<dl class="dl-horizontal">
	<dt>
		Pits
	</dt>
	<dd>
		All Peach Pits (test modules) that are present on your system
	</dd>

	<dt>
		Configurations
	</dt>
	<dd>
		Saved pit configurations
	</dd>
</dl>

<div class="form-group input-group">
	<input ng-model="search"
				 type="text"
				 class="form-control"
				 placeholder="Search for pits..."
				 peach:auto-focus/>
	<span class="input-group-btn">
		<button class="btn btn-default"
						type="submit">
			<i class="fa fa-search"></i>
		</button>
	</span>
</div>

<div class="page-header">
	<h3>Pits</h3>
</div>
<p>
	Peach Pits allow testing of a data format or a network protocol against a variety of targets.
</p>
<uib-accordion close-others="false">
	<uib-accordion-group ng-repeat="cat in vm.Pits.Categories | filter: filterCategory(search)"
									 heading="{{cat.Name}}"
									 is-open="true">
		<div class="peach-library">
			<ul class="list-inline">
				<li ng-repeat="entry in cat.Pits | filter: { Pit: { name: search } }">
					<a href=""
						ng-click="vm.OnSelectPit(entry)">
							{{entry.Pit.name | peachPitName}}
						</a>
				</li>
			</ul>
		</div>
	</uib-accordion-group>
</uib-accordion>

<div class="page-header">
	<h3>Configurations</h3>
</div>
<p>
	The Configurations section contains existing Peach Pit configurations. 
	Selecting an existing configuration allows editing the configuration and starting a new fuzzing job.
</p>
<uib-accordion close-others="false">
	<uib-accordion-group ng-repeat="cat in vm.User.Categories | filter: filterCategory(search)"
									 heading="{{cat.Name}}"
									 is-open="true">
		<div class="peach-library">
			<ul class="list-inline">
				<li ng-repeat="entry in cat.Pits | filter: { Pit: { name: search } }">
					<a href=""
						ng-click="vm.OnSelectPit(entry)">
							{{entry.Pit.name | peachPitName}}
						</a>
				</li>
			</ul>
		</div>
	</uib-accordion-group>
</uib-accordion>
