<header class="navbar navbar-fixed-top" id="main-navbar">
	<div class="navbar-inner">
		<div class="container">
			<a class="logo" href="#">
				<img width="100px" alt="Peach Fuzzer Professional" src="Images/peach_fuzzer-white.png">
			</a>
			<a class="btn nav-button collapsed" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-reorder"></span>
			</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="active">
						<a href="#">Downloads</a>
					</li>
					<li>
						<a target="_blank" href="LicensingPortal.cshtml">Licensing Portal</a>
					</li>
					<li class="divider-vertical"></li>
					<li>
						<a href="Logout.cshtml">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>
