@using PeachDownloader;
@{
	Layout = "_Layout.cshtml";
	Page.Title = "Peach Customer Portal";
	Page.BodyClass = "signin-page";

	Response.Cache.SetCacheability(HttpCacheability.NoCache);

	if (AppSession.Current.IsAuthenticated)
	{
		Response.Redirect("Downloads.cshtml", true);
		return;
	}

	if (IsPost)
	{
		var username = Request.Form["Username"];
		var password = Request.Form["Password"];

		AntiForgery.Validate();

		var operations = new Operations(username, password);
		if (operations.ValidateCredentials())
		{
			AppSession.Current.IsAuthenticated = true;
			AppSession.Current.Operations = operations;
			Response.Redirect("Downloads.cshtml", true);
		}
		else
		{
			AppSession.Current.IsAuthenticated = false;
		}
	}
}

<section id="signin-container" style="margin-top: 19.5px; width: 370px">
	<div class="header text-center" style="color: #CCC">
		<img src="Images/peach_fuzzer-white.png" alt="Peach Fuzzer Professional">
		<hr />
		<p>
			Welcome to the Peach Fuzzer download site!
		</p>
		<p>
			After authenticating using your operations portal credentials, 
			you will be able to access the Peach Fuzzer downloads.
		</p>
		@if (Request.HttpMethod == "POST")
		{
			<p class="alert alert-danger">
				Incorrect username or password.  
				Please check and try again. 
				If login issues persist please contact <a href="mailto:support@peachfuzzer.com">support@peachfuzzer.com</a> for assistance.
			</p>
		}
	</div>
	<form id="formFlexera" method="post">
		<fieldset>
			<div class="fields">
				<input type="text" name="Username" placeholder="Username" id="Username" tabindex="1" required autofocus>
				<input type="password" name="Password" placeholder="Password" id="Password" tabindex="2" required>
			</div>
			<button type="submit" class="btn btn-primary btn-block" tabindex="4">Sign In</button>
		</fieldset>

		@AntiForgery.GetHtml()
	</form>
</section>

@RenderPage("_Footer.cshtml")
