@using PeachDownloader;
@{ Layout="_Layout.cshtml"; }
@{

	Response.Cache.SetCacheability(HttpCacheability.NoCache);

	if (AppSession.Current.IsAuthenticated)
	{
		Response.Redirect("Downloads.cshtml", true);
		return;
	}

	if (IsPost)
	{
		var username = Request.Form["Username"];
		var password = Request.Form["Password"];

		AntiForgery.Validate();

		var operations = new Operations(username, password);
		if (operations.ValidateCredentials())
		{
			AppSession.Current.IsAuthenticated = true;
			AppSession.Current.Operations = operations;
			Response.Redirect("Downloads.cshtml", true);
		}
		else
		{
			AppSession.Current.IsAuthenticated = false;
		}
	}
}

<div class="row">
<form id="formFlexera" method="post" class="form-horizontal">
	<fieldset>
		<img src="Images/peach_fuzzer.png" alt="Peach Fuzzer Professional" width="80%">
		<p>
			Welcome to the Peach Fuzzer download site!
		</p>
		<p>
			After authenticating using your operations portal credentials, 
			you will be able to access the Peach Fuzzer downloads.
		</p>
		@if (Request.HttpMethod == "POST")
		{
			<p class="alert alert-danger">
				Incorrect username or password.  
				Please check and try again. 
				If login issues persist please contact <a href="mailto:support@peachfuzzer.com">support@peachfuzzer.com</a> for assistance.
			</p>
		}
		<div class="form-group">
			<label for="Username" class="col-sm-2 control-label">Username</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="Username" name="Username" placeholder="Username" required autofocus />
			</div>
		</div>
		<div class="form-group">
			<label for="Password" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-10">
				<input type="Password" class="form-control" id="Password" name="Password" placeholder="Password" required />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Sign in</button>
			</div>
		</div>
	</fieldset>

	@AntiForgery.GetHtml()
</form>
</div>
