@using PeachDownloader;
@using System.Configuration;
@{ Layout="_Layout.cshtml"; }
@{
	if (!AppSession.Current.IsAuthenticated)
	{
		Response.Redirect("Default.cshtml", true);
		return;
	}

	var operations = AppSession.Current.Operations;
	if (operations == null)
	{
		Response.Redirect("Default.aspx", true);
		return;
	}

	var token = operations.AcquireToken();

	var args = HttpUtility.ParseQueryString(string.Empty);
	args.Add("username", operations.Username);
	args.Add("token", token);

	var builder = new UriBuilder(ConfigurationManager.AppSettings["OperationsLicensePortal"])
	{
		Query = args.ToString()
	};

	Response.Redirect(builder.ToString(), true);
}

<div class="row">
	<p>
		Redirecting to Licensing Portal...
	</p>
</div>
