<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="Downloads" value="c:\temp\dl"/>
    <add key="TempFolder" value="c:\temp"/>
	  
	  <add key="OperationsBaseFeature" value="Peach-Baseline"/>

	  <!--
	  <add key="OperationsEnvironment" value="UAT"/>
		<add key="OperationsServiceUser" value="flexnetoperations-ws@peachfuzzer.com"/>
		<add key="OperationsServicePassword" value="2JDrZsHCrZ2xrP"/>
	  <add key="OperationsLicenseServerUrl" value="https://flex1253-uat.compliance.flexnetoperations.com/instances/{0}/request"/>
		-->

	  <add key="OperationsEnvironment" value="PROD"/>
	  <add key="OperationsServiceUser" value="flexnetoperations-ws@peachfuzzer.com"/>
	  <add key="OperationsServicePassword" value="YabtFPahYV9JV4"/>
	  <add key="OperationsLicenseServerUrl" value="https://flex1253.compliance.flexnetoperations.com/instances/{0}/request"/>
  </appSettings>
</configuration>
