<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5.1" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<appSettings>
		<add key="MonoServerDefaultIndexFiles" value="Default.cshtml" />
		<add key="Downloads" value="C:\temp\dl"/>
		<add key="OperationsBaseFeature" value="Peach-Baseline"/>
<!--
		<add key="OperationsEnvironment" value="UAT"/>
		<add key="OperationsServiceUser" value="flexnetoperations-ws@peachfuzzer.com"/>
		<add key="OperationsServicePassword" value="2JDrZsHCrZ2xrP"/>
		<add key="OperationsLicensePortal" value="https://flex1253-uat.flexnetoperations.com/flexnet/operationsportal/sso.do"/>
		<add key="OperationsLicenseServerUrl" value="https://flex1253-uat.compliance.flexnetoperations.com/instances/{0}/request"/>
-->
		<add key="OperationsEnvironment" value="PROD"/>
		<add key="OperationsServiceUser" value="flexnetoperations-ws@peachfuzzer.com"/>
		<add key="OperationsServicePassword" value="YabtFPahYV9JV4"/>
		<add key="OperationsLicensePortal" value="https://flex1253-fno.flexnetoperations.com/flexnet/operationsportal/sso.do"/>
		<add key="OperationsLicenseServerUrl" value="https://flex1253.compliance.flexnetoperations.com/instances/{0}/request"/>
	</appSettings>
</configuration>
