<div class="header blue"
		 ng-show="vm.IsSetVars">
	{{question.shortName || question.key}}
</div>
<div>
	<label>
		{{question.q}}
	</label>
</div>
<p ng-if="!question.required">
	(Optional)
</p>
<div class="row">
	<peach:combobox name="question"
									ng-model="question.value"
									ng-required="question.required"
									data="question.defaults"
	                class="col-sm-6"
									hexstring>
	</peach:combobox>
</div>
<span class="help-block"
			ng-messages="form.question.$error"
			ng-messages-include="html/messages.html">
</span>
