<div>
	<div class="header blue"
			 ng-show="vm.IsSetVars">
		{{question.shortName || question.key}}
	</div>
	<label>{{question.q}}</label>
	<div class="dropdown" >
		<input name="param"
					 ng-model="question.value"
					 type="text"
					 ng-enter="vm.Next()"
					 class="dropdown-toggle"
					 hexstring
					 ng-required="question.required" />
		<ul class="dropdown-menu"
				ng-show="vm.IsSetVars">
			<li ng-repeat="default in question.defaults">
				<div ng-click="question.value = default"
						 style="width: 100%; cursor: pointer">
					{{default}}
				</div>
			</li>
		</ul>
	</div>
</div>
