<div>
	<div class="header blue"
			 ng-class="{hidden: vm.location.path() != '/quickstart/setvars'}">
		{{vm.Question.shortName || vm.Question.key}}
	</div>
	<label>
		{{vm.Question.q}}
		(value must be a number between
		{{vm.Question.rangeMin}} and {{vm.Question.rangeMax}})
	</label>
	<div>
		<input ng-model="vm.Question.value"
					 ng-enter="vm.Next()"
					 step="1"
					 ng-min="vm.Question.rangeMin"
					 ng-max="vm.Question.rangeMax"
					 type="number"
					 ng-required="vm.Question.required"
					 integer />
	</div>
	<div class="row-fluid wizard-actions">
		<button class="btn btn-prev" 
						ng-click="vm.Back()">
			<i class="icon-arrow-left"></i>
			Back
		</button>
		<button class="btn btn-success btn-next"
						ng-click="vm.Next()"
						ng-class="{disabled: configuratorForm.$invalid}">
			Next
			<i class="icon-arrow-right icon-on-right"></i>
		</button>
	</div>
</div>
