<div class="header blue"
     ng-show="vm.IsSetVars">
	{{question.shortName || question.key}}
</div>
<div>
	<label>
		{{question.q}}
	</label>
</div>
<p ng-if="!question.required">
	(Optional)
</p>
<p>
	Value must be an integer between {{question.rangeMin}} and {{question.rangeMax}}
</p>
<div class="row">
	<div class="col-sm-6">
		<input name="question"
					 ng-model="question.value"
					 class="form-control"
					 step="1"
					 peach:range
					 peach:range-min="question.rangeMin"
					 peach:range-max="question.rangeMax"
					 type="text"
					 ng-required="question.required"
					 integer />
	</div>
</div>
<span class="help-block"
			ng-messages="form.question.$error"
			ng-messages-include="html/messages.html">
</span>
