.skin-1 .nav-list > li.disabled > a > .menu-text,
.skin-1 .nav-list > li.disabled > a > i,
.skin-1 .nav-list > li.disabled > a > .arrow {
	color: #595D60;
	cursor: not-allowed;
}

.skin-1 .navbar-header img {
	height: 50px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.collapse {
	display: none !important;
}

.collapse.in {
	display: block !important;
}

.timeline.vis .box.item {
	cursor: pointer;
}

pre {
	word-wrap: normal;
	overflow: auto;
}

.pointer {
	cursor: pointer;
}

.accordion-toggle {
	display: block; /* allow user to click entire heading to toggle */
}

.accordion-toggle span {
	line-height: 22px;
}

.accordion-toggle:hover {
	text-decoration: none;
}

.accordion-toggle:focus {
	outline: none;
	cursor: pointer;
	text-decoration: none;
}

.btn-toolbar .btn {
	float: none;
}

.btn-cell {
	line-height: 24px;
	background-color: transparent !important;
	border-color: transparent !important;
	color: red !important;
}

.btn-xs .glyphicon {
	margin-right: 0;
}

.btn-sm .glyphicon {
	margin-right: 0;
}

.btn-lg {
	border-width: 3px;
	line-height: 1.35;
	padding: 7px 16px;
}

.peach-icon-cell {
	width: 25px;
}

pre.peach-test-log {
	min-height: 300px;
}

.pagination > li {
	cursor: pointer;
}

.nowrap {
	white-space: nowrap;
}

.break-word {
	word-wrap: break-word;
}

.peach-fault-detail {
	width: 100%;
	table-layout: fixed;
}

.peach-fault-detail tr td:first-child {
	white-space: nowrap;
	min-width: 110px;
	width: 200px;
}

.peach-fault-detail tr td {
	padding-top: 2px;
	padding-bottom: 2px;
}

.peach-fault-detail pre {
	min-height: 250px;
	overflow: auto;
}

.peach-fault-files {
	height: 24em;
	overflow-y: scroll;
}

.peach-parameter-group {
	margin-top: 10px;
}

td div.peach-parameter-input .input-group {
	top: 5px;
}

.peach-add-monitor {
	max-height: 600px;
	overflow-y: auto;
}

@media only screen and (max-height: 1000px) {
	.peach-add-monitor {
		max-height: 400px;
		overflow-y: auto;
	}
}

noscript {
	text-align: center;
	padding: 30px;
	display: block;
	font-size: large;
}

.peach-library {
	-moz-column-width: 200px;
	-webkit-column-width: 200px;
	column-width: 200px;
}

.peach-library ul > li {
	width: 100%;
}

.submenu .badge {
	padding: 1px 7px;
}
